---
import Layout from "../../layouts/Layout.astro";
import ModelCard from "../../components/ModelCard.astro";
import { models } from "./data/data";
---

<Layout>
  <meta
    slot="description"
    name="description"
    content="Лучшие элитные московские эскортницы в Aurora Escort! Анкеты VIP девушек моделей у нас на сайте. Снять девушку на час или ночь, обращайтесь к нам!"
  />
  <title slot="title">
    Элитные эскортницы Москвы | Эскорт девушки VIP модели
  </title>
  <meta slot="meta-noindex" name="robots" content="noindex, follow" />

  <div class="bg-white">
    <div
      class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8"
    >
      <h1 class="text-stone-600">Элитные эскортницы</h1>
      <div class="flex items-center justify-center py-4 flex-wrap mt-10">
        <a
          href="/brunnetes"
          type="button"
          class="text-gray-900 border border-gray-200 bg-white ring-4 ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 focus:ring-gray-500 hover:ring-red-300 hover:border-red-300"
          >Брюнетки</a
        >
        <a
          href="/blonds"
          type="button"
          class="text-gray-900 border border-gray-200 bg-white ring-4 ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 focus:ring-gray-500 hover:ring-red-300 hover:border-red-300"
          >Блондинки</a
        >
        <a
          href="/redhead"
          type="button"
          class="text-gray-900 border border-gray-200 bg-white ring-4 ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 focus:ring-gray-500 hover:ring-red-300 hover:border-red-300"
          >Рыжие</a
        >
        <a
          href="/feet"
          type="button"
          class="text-gray-900 border border-gray-200 bg-white ring-4 ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 focus:ring-gray-500 hover:ring-red-300 hover:border-red-300"
          >Длинные ноги</a
        >
        <a
          href="/youth"
          type="button"
          class="text-gray-900 border border-gray-200 bg-white ring-4 ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 focus:ring-gray-500 hover:ring-red-300 hover:border-red-300"
          >Молоденькие</a
        >
        <a
          href="/skinny"
          type="button"
          class="text-gray-900 border border-gray-200 bg-white ring-4 ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 focus:ring-gray-500 hover:ring-red-300 hover:border-red-300"
          >Худые</a
        >
        <a
          href="/asian"
          type="button"
          class="text-gray-900 border border-gray-200 bg-white ring-4 ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 focus:ring-gray-500 hover:ring-red-300 hover:border-red-300"
          >Азиатки</a
        >
        <a
          href="/mulattos"
          type="button"
          class="text-gray-900 border border-gray-200 bg-white ring-4 ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 focus:ring-gray-500 hover:ring-red-300 hover:border-red-300"
          >Мулатки</a
        >
      </div>

      <div
        class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8"
      >
        {
          models.map(({ props: { name, price, images }, params: { id } }) => (
            <ModelCard id={id} name={name} price={price} img={images[0]} />
          ))
        }
      </div>
    </div>
  </div>

  <div
    class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0"
  >
    <div class="absolute inset-0 -z-10 overflow-hidden">
      <svg
        class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]"
        aria-hidden="true"
      >
        <defs>
          <pattern
            id="e813992c-7d03-4cc4-a2bd-151760b470a0"
            width="200"
            height="200"
            x="50%"
            y="-1"
            patternUnits="userSpaceOnUse"
          >
            <path d="M100 200V.5M.5 .5H200" fill="none"></path>
          </pattern>
        </defs>
        <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
          <path
            d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z"
            stroke-width="0"></path>
        </svg>
        <rect
          width="100%"
          height="100%"
          stroke-width="0"
          fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)"></rect>
      </svg>
    </div>
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10"
    >
      <div
        class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8"
      >
        <div class="lg:pr-4">
          <div class="lg:max-w-lg">
            <p class="text-base font-semibold leading-7 text-red-400">
              Aurora Escort
            </p>
            <h2
              class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
            >
              Услуги элитных эскортниц для любого события
            </h2>
            <p class="mt-6 text-xl leading-8 text-gray-700">
              Эскортницы в нынешнее время выступают символом утонченности, вкуса
              и статуса. При этом в современном ритме жизни можно встретить
              достаточно большое количество мужчин, которые не имеют времени
              из-за сильной занятости заняться поиском спутницы не только на всю
              жизнь, но и просто для того, чтобы побывать с ней на мероприятии.
            </p>
            <p class="mt-6 text-xl leading-8 text-gray-700">
              Лучшим решением в этом случае будут элитные эскортницы, которые
              поразят собственным внешним видом и высоким интеллектом. Такую
              девушку можно вызвать на дом или в отель на любой промежуток
              времени на сайте нашего элитного эскорт агентства.
            </p>
            <p class="mt-6 text-xl leading-8 text-gray-700">
              Эскорт-модели в Москве пользуются популярностью среди
              представителей сильного пола.
            </p>
            <p class="mt-6 text-xl leading-8 text-gray-700">
              Почему эскортницы пользуются спросом среди мужчин?
            </p>
            <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">
              Преимущества общения с эскортницами:
            </h2>
            <ul role="list" class="mt-8 space-y-8 text-gray-600">
              <li class="flex gap-x-3">
                <svg
                  class="w-6 h-6 text-red-600 dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M8.597 3.2A1 1 0 0 0 7.04 4.289a3.49 3.49 0 0 1 .057 1.795 3.448 3.448 0 0 1-.84 1.575.999.999 0 0 0-.077.094c-.596.817-3.96 5.6-.941 10.762l.03.049a7.73 7.73 0 0 0 2.917 2.602 7.617 7.617 0 0 0 3.772.829 8.06 8.06 0 0 0 3.986-.975 8.185 8.185 0 0 0 3.04-2.864c1.301-2.2 1.184-4.556.588-6.441-.583-1.848-1.68-3.414-2.607-4.102a1 1 0 0 0-1.594.757c-.067 1.431-.363 2.551-.794 3.431-.222-2.407-1.127-4.196-2.224-5.524-1.147-1.39-2.564-2.3-3.323-2.788a8.487 8.487 0 0 1-.432-.287Z"
                  ></path>
                </svg>

                <span>
                  Предоставление услуг элитного эскорта — это связано с тем, что
                  все девушки, работающие в нашем агентстве, проходят
                  максимально тщательный отбор, которые в последующем обучаются
                  и получают систематическую поддержку со стороны агентства..</span
                >
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="w-6 h-6 text-red-600 dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M8.597 3.2A1 1 0 0 0 7.04 4.289a3.49 3.49 0 0 1 .057 1.795 3.448 3.448 0 0 1-.84 1.575.999.999 0 0 0-.077.094c-.596.817-3.96 5.6-.941 10.762l.03.049a7.73 7.73 0 0 0 2.917 2.602 7.617 7.617 0 0 0 3.772.829 8.06 8.06 0 0 0 3.986-.975 8.185 8.185 0 0 0 3.04-2.864c1.301-2.2 1.184-4.556.588-6.441-.583-1.848-1.68-3.414-2.607-4.102a1 1 0 0 0-1.594.757c-.067 1.431-.363 2.551-.794 3.431-.222-2.407-1.127-4.196-2.224-5.524-1.147-1.39-2.564-2.3-3.323-2.788a8.487 8.487 0 0 1-.432-.287Z"
                  ></path>
                </svg>
                <span> Профессиональный подбор участниц.</span>
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="w-6 h-6 text-red-600 dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M8.597 3.2A1 1 0 0 0 7.04 4.289a3.49 3.49 0 0 1 .057 1.795 3.448 3.448 0 0 1-.84 1.575.999.999 0 0 0-.077.094c-.596.817-3.96 5.6-.941 10.762l.03.049a7.73 7.73 0 0 0 2.917 2.602 7.617 7.617 0 0 0 3.772.829 8.06 8.06 0 0 0 3.986-.975 8.185 8.185 0 0 0 3.04-2.864c1.301-2.2 1.184-4.556.588-6.441-.583-1.848-1.68-3.414-2.607-4.102a1 1 0 0 0-1.594.757c-.067 1.431-.363 2.551-.794 3.431-.222-2.407-1.127-4.196-2.224-5.524-1.147-1.39-2.564-2.3-3.323-2.788a8.487 8.487 0 0 1-.432-.287Z"
                  ></path>
                </svg>
                <span>Качественное обслуживание.</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden"
      >
        <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">
          Особенности заказа услуг элитных эскортниц.
        </h2>
        <p class="mt-6 text-gray-700">
          В том случае, если есть необходимость организовать собственный досуг в
          настоящем московском столичном ритме, для этого многие представители
          сильного пола решаются заказать эскортницу. Особенность таких девушек
          заключается в том, что они не только смогут украсить любое
          мероприятие, но и просто помогут мужчине приятно провести собственное
          свободное время. Обратившись за помощью в наше эскорт агентство,
          каждый сможет получить ту девушку, которая будет удовлетворять
          конкретным пожеланиям и требованиям.
        </p>

        <h2
          class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-4"
        >
          Чтобы заказать эскортниц в МСК, нужно выполнить достаточно простые и
          интуитивно понятные каждому шаги:
        </h2>
        <ul
          class="max-w-md space-y-1 text-gray-500 list-inside dark:text-gray-400"
        >
          <li class="flex items-center">
            <svg
              class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
              ></path>
            </svg>
            Определиться с типажом модели.
          </li>
          <li class="flex items-center">
            <svg
              class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
              ></path>
            </svg>
            После выбора нужно связаться с нашими менеджерами по конкретным данным,
            которые представлены на сайте.
          </li>
          <li class="flex items-center">
            <svg
              class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
              ></path>
            </svg>
            Все детали встречи будут максимально оперативно оговорены с нашими менеджерами,
            которые организуют все в лучшем виде.
          </li>
        </ul>

        <a
          href="https://api.whatsapp.com/send?phone=447480686013"
          target="_blank"
          class="custom-link flex items-center justify-center py-2.5 px-5 text-sm font-bold text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 mt-4"
        >
          <svg
            class="w-5 h-5 -ms-2 me-2 text-red-500"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"
            ></path>
          </svg>
          Организовать свидание
        </a>
      </div>
      <div
        class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8"
      >
        <div class="lg:pr-4">
          <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
            <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">
              Девушка, вызывающая восхищение.
            </h2>
            <p class="mt-2">
              Несмотря на то, что в современной Москве можно найти достаточно
              большое количество способов приятно провести свободное время,
              московские эскортницы сделают все возможное для того, чтобы досуг
              прошел еще более приятнее. При этом у мужчин достаточно часто
              возникает вопрос, связанный с тем, для каких целей и зачем нужно
              снять такую девочку. Разберемся подробнее с подобными причинами:
            </p>

            <ul role="list" class="mt-8 space-y-8 text-gray-600">
              <li class="flex gap-x-3">
                <svg
                  class="w-6 h-6 text-red-600 dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M8.597 3.2A1 1 0 0 0 7.04 4.289a3.49 3.49 0 0 1 .057 1.795 3.448 3.448 0 0 1-.84 1.575.999.999 0 0 0-.077.094c-.596.817-3.96 5.6-.941 10.762l.03.049a7.73 7.73 0 0 0 2.917 2.602 7.617 7.617 0 0 0 3.772.829 8.06 8.06 0 0 0 3.986-.975 8.185 8.185 0 0 0 3.04-2.864c1.301-2.2 1.184-4.556.588-6.441-.583-1.848-1.68-3.414-2.607-4.102a1 1 0 0 0-1.594.757c-.067 1.431-.363 2.551-.794 3.431-.222-2.407-1.127-4.196-2.224-5.524-1.147-1.39-2.564-2.3-3.323-2.788a8.487 8.487 0 0 1-.432-.287Z"
                  ></path>
                </svg>

                <span>
                  Улучшение показателей уверенности в себе, собственных силах и
                  серьезное возрастание самооценки. Наличие такой красивой, но в
                  то же время интеллектуально развитой девочки даст возможность
                  каждому мужчине почувствовать себя более увереннее.</span
                >
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="w-6 h-6 text-red-600 dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M8.597 3.2A1 1 0 0 0 7.04 4.289a3.49 3.49 0 0 1 .057 1.795 3.448 3.448 0 0 1-.84 1.575.999.999 0 0 0-.077.094c-.596.817-3.96 5.6-.941 10.762l.03.049a7.73 7.73 0 0 0 2.917 2.602 7.617 7.617 0 0 0 3.772.829 8.06 8.06 0 0 0 3.986-.975 8.185 8.185 0 0 0 3.04-2.864c1.301-2.2 1.184-4.556.588-6.441-.583-1.848-1.68-3.414-2.607-4.102a1 1 0 0 0-1.594.757c-.067 1.431-.363 2.551-.794 3.431-.222-2.407-1.127-4.196-2.224-5.524-1.147-1.39-2.564-2.3-3.323-2.788a8.487 8.487 0 0 1-.432-.287Z"
                  ></path>
                </svg>
                <span>
                  Возможность реализации эффективного проведения свободного
                  времени. За счет того, что современный ритм жизни является
                  достаточно стремительным, эскорт-модели сделают все возможное
                  для того, чтобы мужчина в полной мере смог насладиться
                  моментом и от души почувствовать весь релакс.</span
                >
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="w-6 h-6 text-red-600 dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M8.597 3.2A1 1 0 0 0 7.04 4.289a3.49 3.49 0 0 1 .057 1.795 3.448 3.448 0 0 1-.84 1.575.999.999 0 0 0-.077.094c-.596.817-3.96 5.6-.941 10.762l.03.049a7.73 7.73 0 0 0 2.917 2.602 7.617 7.617 0 0 0 3.772.829 8.06 8.06 0 0 0 3.986-.975 8.185 8.185 0 0 0 3.04-2.864c1.301-2.2 1.184-4.556.588-6.441-.583-1.848-1.68-3.414-2.607-4.102a1 1 0 0 0-1.594.757c-.067 1.431-.363 2.551-.794 3.431-.222-2.407-1.127-4.196-2.224-5.524-1.147-1.39-2.564-2.3-3.323-2.788a8.487 8.487 0 0 1-.432-.287Z"
                  ></path>
                </svg>
                <span>
                  Культурное взаимодействие и максимально качественное общение.
                  Важно помнить о том, что эскортницы представляют собой не
                  только визуально привлекательную картинку, но и являются
                  высокоинтеллектуальными личностями, с которыми будет интересно
                  поговорить и не стыдно показать обществу. При этом процесс
                  общения с такими девушками привнесет в повседневную жизнь
                  мужчины большое количество положительных эмоций.</span
                >
              </li>
            </ul>
            <p class="mt-10 text-grey-600">
              Поэтому вип-эскортницы являются не только теми девушками, которые
              имеют модельную фигуру и внешность, но и теми представительницами,
              которых будет не стыдно показать элитному обществу.
            </p>
            <p class="mt-4 text-grey-600">
              В нашем агенстве можно выбрать эскортницу, которая будет не только
              симпатичной, но и умной. Именно в компании таких элитных моделей
              можно насладиться полной красотой и качественным общением, за
              которое не будет стыдно.
            </p>
          </div>
          <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">
            Основные преимущества нашего эскорт агентства:
          </h2>
          <ul
            class="max-w-md space-y-1 text-gray-600 list-disc list-inside dark:text-gray-400 mt-4"
          >
            <li>
              Элитные эскортницы Москвы — это лучшее решение для тех мужчин,
              которые желают организовать максимально приятный и незабываемый
              отдых в кругу красивой представительницы слабого пола. В первую
              очередь здесь стоит выделить высокие показатели качества, так как
              абсолютно каждая девушка перед тем, как начать работать, проходит
              максимально строгий отбор. Это делается для того, чтобы каждый
              потенциальный клиент смог получить услуги наивысшего качества.
            </li>
            <li>
              Не стоит забывать о вариативности, так как каждый мужчина имеет
              возможность подобрать для себя тот вариант, который удовлетворяет
              его индивидуальные предпочтения. На выбор есть худенькие,
              полненькие модели, блондинки, брюнетки, а также шатенки. Поэтому с
              выбором наиболее подходящего варианта не должно возникать
              сложностей.
            </li>
            <li>
              Так же стоит помнить о высоких показателях приватности и
              конфиденциальности, которые обеспечиваются для каждого
              потенциального клиента. Поэтому независимо от этапа
              сотрудничества, каждый гарантировано получит анонимность и может
              не переживать о собственной безопасности.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</Layout>
