---
import Layout from "../../layouts/Layout.astro";
import { services } from "./data";
import PageTitle from "../../components/PageTitle.astro";

export async function getStaticPaths() {
  return services;
}

const { h1, title, content } = Astro.props;
---

<Layout>
  <meta slot="description" name="description" content={content} />
  <title slot="title">{title}</title>

  <PageTitle>{h1}</PageTitle>
</Layout>
