---
import Layout from "../../layouts/Layout.astro";
import ServiceCard from "../../components/ServiceCard.astro";
import { services } from "./data";
---

<Layout>
  <h1 class="title">Услуги</h1>

  {
    services.map(({ params: { id }, props: { h1 } }, index) => (
      <div class="service-card">
        <ServiceCard text={h1} id={id} order={index + 1} />
      </div>
    ))
  }
</Layout>

<style>
  .title {
    margin-left: 10px;
    margin-bottom: 17px;
  }

  .service-card {
    margin: 15px;
  }
</style>
