---
import Layout from "../../layouts/Layout.astro";
import ServiceCard from "../../components/ServiceCard.astro";
import { services } from "./data";
---

<Layout>
  <meta
    slot="description"
    name="description"
    content="Список услуг эскорт агенства Aurora Escort."
  />
  <title slot="title">Услуги - Aurora Escort</title>
  <h1 class="title">Услуги</h1>

  {
    services.map(({ params: { serviceId }, props: { h1 } }) => (
      <div class="service-card">
        <ServiceCard text={h1} id={serviceId} />
      </div>
    ))
  }
</Layout>

<style>
  .title {
    margin-left: 10px;
    margin-bottom: 17px;
  }

  .service-card {
    margin: 15px;
  }
</style>
