---
import { models } from "../../data";
import ModelsPage from "../../../../components/ModelsPage.astro";

export async function getStaticPaths({ paginate }) {
  return paginate(models, { pageSize: 6 });
}

const { page } = Astro.props;
---

<ModelsPage
  page={page}
  pageTitle="Эскортницы блондинки в Москве"
  titleMetaTag="Блондинки эскортницы в Москве | Aurora Escort"
  descriptionMetaTag="Заказывайте эскортниц блондинок от агентства Aurora Escort в Москве. Полная анонимность! Эскортницы VIP класса, привлекательные девушки."
>
  <div>
    <h2>Блондинки для незабываемого и приятного провождения времени</h2>
    <p>
      Вы ищете нечто особенное, что придаст вашему путешествию в Москве
      неповторимый шарм и заставит вас почувствовать себя настоящим королем?
      Скорее же заказывайте наш роскошный и элитный эскортный сервис.
    </p>
    <p>
      Привлекательные, очаровательные с модельными параметрами блондинки
      предложат вам незабываемые впечатления, которые останутся с вами на всю
      жизнь. Если вам требуется компания на деловую встречу, ужин в ресторане
      высшего класса или просто релаксирующее времяпрепровождение в номере
      отеля, наши девушки готовы удовлетворить даже самых требовательных
      клиентов.
    </p>
    <hr />
    <h2>Преимущества нашего эскорт сервиса</h2>
    <p>Давайте рассмотрим некоторые ключевые плюсы:</p>
    <ul>
      <li>
        Блондинки эскортницы не только красивы, но и умны. Они идеально подходят
        для любых обстоятельств и готовы поддержать разговор на любую тему.
      </li>
      <li>Мы предоставляем полную анонимность и секретность.</li>
      <li>Компания предлагает индивидуальный подход к каждой встрече.</li>
      <li>
        Компания тщательно отбирает представительниц прекрасного пола. Вы можете
        быть уверены, что ваше пребывание в компании наших леди будет абсолютно
        безопасным и комфортным.
      </li>
    </ul>
    <p>
      Наши цены всегда выгодные и приятные, они зависят от выбранной эскортницы
      блондинки, времени и места встречи. Не упустите шанс погрузиться в мир
      роскоши и удовольствия вместе с нами. Сделайте свое пребывание в Москве
      по-настоящему незабываемым с нашим элитным эскортным сервисом.
    </p>
  </div>
</ModelsPage>
