---
import { models } from "../../data";
import ModelsPage from "../../../../components/ModelsPage.astro";

export async function getStaticPaths({ paginate }) {
  return paginate(models, { pageSize: 6 });
}

const { page } = Astro.props;
---

<ModelsPage
  page={page}
  pageTitle="Рыжие эскортницы в Москве"
  titleMetaTag="Рыжие эскортницы в Москве | Aurora Escort"
  descriptionMetaTag="Заказывайте рыжих эскортниц от агентства Aurora Escort в Москве. Полная анонимность! Эскортницы VIP класса, привлекательные девушки."
>
  <div>
    <h2>Мужчины сходят с ума от рыжих</h2>
    <p>
      В Средневековье на женщин с огненными волосами велась охота. Такой редкий
      и необычный цвет волос считался признаком колдовства. Сегодня носить такие
      локоны модно и экстравагантно.
    </p>
    <p>
      Рыжеволосые девушки не вяжутся с депрессией и унылостью. Такую даму сложно
      не заметить в толпе. Психолог Джин Твендж утверждает, что
      представительницы огненных кудрей воспринимаются окружающими, как
      особенные и уникальные женщины. По его словам, они:
    </p>
    <ul>
      <li>бесшабашные</li>
      <li>независимые</li>
      <li>умеющие подняться над обстоятельствами</li>
    </ul>
    <p>
      Годы доминирования в трендах брюнеток и блондинок привели к популярности
      рыжеволосых красавиц. Избранницы с пышной красной шевелюрой очень
      страстные партнерши. Наше агентство предлагает анкеты таких необычных
      подружек.
    </p>
    <hr />
    <h2>Проверенный способ не стареть</h2>
    <p>
      Одиночество негативно влияет на здоровье человека. Изоляция — это раннее
      старение и болезни. Для поддержания здоровья и энергичности, эскортницы
      готовы воплотить в жизнь любую мужскую мечту.
    </p>
    <p>
      Рыжие эскортницы с энтузиазмом примут предложение повеселиться в
      каком-нибудь клубе. Но и от спокойного вечера с бутылкой шампанского на
      террасе не откажутся. С ними мужчине легко и просто, разговор складывается
      сам по себе. В таких беседах нет высокомерия и пафоса.
    </p>
    <p>
      Выбирая рыжую эскортницу на вечер, парень получает внимание, заботу,
      ласку, одобрение и поддержку. Вечер закончится, а впечатления останутся на
      долгие дни.
    </p>
  </div>
</ModelsPage>
