---
import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle.astro";
---

<Layout>
  <meta
    slot="description"
    name="description"
    content="Следите за свежими обновлениями в блоге эскорт-агентства Aurora Escort. Статьи, новости, полезная информация."
  />
  <title slot="title">Блог - Aurora Escort</title>

  <PageTitle>Блог</PageTitle>
</Layout>
