---
import Layout from "../layouts/Layout.astro";
import ModelCard from "../components/ModelCard.astro";
import { blondModels } from "./models/data/blonds";
---

<Layout>
  <meta
    slot="description"
    name="description"
    content="Заказывайте эскортниц блондинок от агентства Aurora Escort в Москве. Полная анонимность! Эскортницы VIP класса, привлекательные девушки."
  />
  <title slot="title">Блондинки эскортницы в Москве | Aurora Escort</title>
  <meta slot="meta-noindex" name="robots" content="noindex, follow" />

  <div class="bg-white">
    <div
      class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8"
    >
      <h1 class="text-stone-600">Эскортницы блондинки в Москве</h1>
      <div class="flex items-center justify-center py-4 flex-wrap mt-10">
        <a
          href="/brunnetes"
          type="button"
          class="text-gray-900 border border-gray-200 bg-white ring-4 ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 focus:ring-gray-500 hover:ring-red-300 hover:border-red-300"
          >Брюнетки</a
        >
        <a
          href="/redhead"
          type="button"
          class="text-gray-900 border border-gray-200 bg-white ring-4 ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 focus:ring-gray-500 hover:ring-red-300 hover:border-red-300"
          >Рыжие</a
        >
        <a
          href="/feet"
          type="button"
          class="text-gray-900 border border-gray-200 bg-white ring-4 ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 focus:ring-gray-500 hover:ring-red-300 hover:border-red-300"
          >Длинные ноги</a
        >
        <a
          href="/youth"
          type="button"
          class="text-gray-900 border border-gray-200 bg-white ring-4 ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 focus:ring-gray-500 hover:ring-red-300 hover:border-red-300"
          >Молоденькие</a
        >
        <a
          href="/skinny"
          type="button"
          class="text-gray-900 border border-gray-200 bg-white ring-4 ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 focus:ring-gray-500 hover:ring-red-300 hover:border-red-300"
          >Худые</a
        >
        <a
          href="/asian"
          type="button"
          class="text-gray-900 border border-gray-200 bg-white ring-4 ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 focus:ring-gray-500 hover:ring-red-300 hover:border-red-300"
          >Азиатки</a
        >
        <a
          href="/mulattos"
          type="button"
          class="text-gray-900 border border-gray-200 bg-white ring-4 ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 focus:ring-gray-500 hover:ring-red-300 hover:border-red-300"
          >Мулатки</a
        >
      </div>

      <div
        class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8"
      >
        {
          blondModels.map(
            ({ props: { name, price, images }, params: { id } }) => (
              <ModelCard id={id} name={name} price={price} img={images[0]} />
            )
          )
        }
      </div>
    </div>
  </div>

  <div
    class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0"
  >
    <div class="absolute inset-0 -z-10 overflow-hidden">
      <svg
        class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]"
        aria-hidden="true"
      >
        <defs>
          <pattern
            id="e813992c-7d03-4cc4-a2bd-151760b470a0"
            width="200"
            height="200"
            x="50%"
            y="-1"
            patternUnits="userSpaceOnUse"
          >
            <path d="M100 200V.5M.5 .5H200" fill="none"></path>
          </pattern>
        </defs>
        <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
          <path
            d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z"
            stroke-width="0"></path>
        </svg>
        <rect
          width="100%"
          height="100%"
          stroke-width="0"
          fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)"></rect>
      </svg>
    </div>
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10"
    >
      <div
        class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8"
      >
        <div class="lg:pr-4">
          <div class="lg:max-w-lg">
            <p class="text-base font-semibold leading-7 text-red-400">
              Aurora Escort
            </p>
            <h2
              class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
            >
              Блондинки для незабываемого и приятного провождения времени
            </h2>
            <p class="mt-6 text-xl leading-8 text-gray-700">
              Вы ищете нечто особенное, что придаст вашему путешествию в Москве
              неповторимый шарм и заставит вас почувствовать себя настоящим
              королем? Скорее же заказывайте наш роскошный и элитный эскортный
              сервис.
            </p>
            <p class="mt-4 text-gray-700">
              Привлекательные, очаровательные с модельными параметрами блондинки
              предложат вам незабываемые впечатления, которые останутся с вами
              на всю жизнь. Если вам требуется компания на деловую встречу, ужин
              в ресторане высшего класса или просто релаксирующее
              времяпрепровождение в номере отеля, наши девушки готовы
              удовлетворить даже самых требовательных клиентов.
            </p>
          </div>
        </div>
      </div>
      <div
        class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden"
      >
        <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">
          Закажите услуги блондинки модели в нашем агентстве.
        </h2>
        <p class="mt-6 text-gray-700">
          Наши цены всегда выгодные и приятные, они зависят от выбранной
          эскортницы блондинки, времени и места встречи. Не упустите шанс
          погрузиться в мир роскоши и удовольствия вместе с нами. Сделайте свое
          пребывание в Москве по-настоящему незабываемым с нашим элитным
          эскортным сервисом.
        </p>
        <a
          href="https://api.whatsapp.com/send?phone=447480686013"
          target="_blank"
          class="custom-link flex items-center justify-center py-2.5 px-5 text-sm font-bold text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 mt-4"
        >
          <svg
            class="w-5 h-5 -ms-2 me-2 text-red-500"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"
            ></path>
          </svg>
          Организовать свидание
        </a>
      </div>
      <div
        class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8"
      >
        <div class="lg:pr-4">
          <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
            <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">
              Преимущества нашего эскорт сервиса.
            </h2>
            <p class="mt-2">Давайте рассмотрим некоторые ключевые плюсы:</p>

            <ul role="list" class="mt-8 space-y-8 text-gray-600">
              <li class="flex gap-x-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="mt-1 h-5 w-5 flex-none text-green-600"
                >
                  <path
                    d="M7.493 18.5c-.425 0-.82-.236-.975-.632A7.48 7.48 0 0 1 6 15.125c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75A.75.75 0 0 1 15 2a2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23h-.777ZM2.331 10.727a11.969 11.969 0 0 0-.831 4.398 12 12 0 0 0 .52 3.507C2.28 19.482 3.105 20 3.994 20H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 0 1-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227Z"
                  ></path>
                </svg>

                <span>
                  Блондинки эскортницы не только красивы, но и умны. Они
                  идеально подходят для любых обстоятельств и готовы поддержать
                  разговор на любую тему.</span
                >
              </li>
              <li class="flex gap-x-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="mt-1 h-5 w-5 flex-none text-green-600"
                >
                  <path
                    d="M7.493 18.5c-.425 0-.82-.236-.975-.632A7.48 7.48 0 0 1 6 15.125c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75A.75.75 0 0 1 15 2a2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23h-.777ZM2.331 10.727a11.969 11.969 0 0 0-.831 4.398 12 12 0 0 0 .52 3.507C2.28 19.482 3.105 20 3.994 20H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 0 1-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227Z"
                  ></path>
                </svg>
                <span> Мы предоставляем полную анонимность и секретность.</span>
              </li>
              <li class="flex gap-x-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="mt-1 h-5 w-5 flex-none text-green-600"
                >
                  <path
                    d="M7.493 18.5c-.425 0-.82-.236-.975-.632A7.48 7.48 0 0 1 6 15.125c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75A.75.75 0 0 1 15 2a2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23h-.777ZM2.331 10.727a11.969 11.969 0 0 0-.831 4.398 12 12 0 0 0 .52 3.507C2.28 19.482 3.105 20 3.994 20H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 0 1-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227Z"
                  ></path>
                </svg>
                <span>
                  Агенство предлагает индивидуальный подход к каждой встрече.</span
                >
              </li>
              <li class="flex gap-x-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="mt-1 h-5 w-5 flex-none text-green-600"
                >
                  <path
                    d="M7.493 18.5c-.425 0-.82-.236-.975-.632A7.48 7.48 0 0 1 6 15.125c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75A.75.75 0 0 1 15 2a2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23h-.777ZM2.331 10.727a11.969 11.969 0 0 0-.831 4.398 12 12 0 0 0 .52 3.507C2.28 19.482 3.105 20 3.994 20H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 0 1-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227Z"
                  ></path>
                </svg>

                <span>
                  Мы тщательно отбирает представительниц прекрасного пола. Вы
                  можете быть уверены, что ваше пребывание в компании наших леди
                  будет абсолютно безопасным и комфортным.</span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
