---
import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle.astro";
---

<Layout>
  <meta
    slot="description"
    name="description"
    content="Интересные истории из жизни связанные с эскорт индустрией и непосредственно агентством Aurora Escort."
  />
  <title slot="title">Эскорт истории - Aurora Escort</title>

  <PageTitle>Истории</PageTitle>
</Layout>
