---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <meta
    slot="description"
    name="description"
    content="Интересные истории из жизни связанные с эскорт индустрией и непосредственно агентством Moscow Escort."
  />
  <title slot="title">Эскорт истории - Moscow Escort</title>
  <h1>Истории</h1>
</Layout>
