---
import Layout from "../layouts/Layout.astro";
import MainPage from "./main.astro";
---

<Layout>
  <meta
    slot="description"
    name="description"
    content="Элитный эскорт в Москве. VIP услуги от агентства Aurora Escort. Заказать эскорт можно у нас на сайте! Приятные цены. Полная анонимность!"
  />
  <title slot="title">
    Эскорт услуги Москва: Элитное агентство Aurora Escort
  </title>
  <MainPage />
</Layout>
