---
import ModelCard from "../components/ModelCard.astro";
import { mainPageModels } from "./models/data/data";
---

<div class="hero-section">
  <div class="relative isolate px-6 pt-14 lg:px-8">
    <div
      class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
      aria-hidden="true"
    >
      <div
        class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
      >
      </div>
    </div>
    <div class="pt-56 mx-auto max-w-2xl sm:py-48 lg:py-56">
      <div class="text-center">
        <h1
          class="opacity-70 text-4xl font-bold tracking-tight text-white sm:text-6xl"
        >
          VIP эскорт агентство Aurora Escort в Москве
        </h1>

        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a
            href="/models"
            class="animate-bounce no-underline rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            >Каталог моделей <span aria-hidden="true">→</span></a
          >
        </div>
      </div>
    </div>
    <div
      class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
      aria-hidden="true"
    >
      <div
        class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#fca5a5] to-[#ef4444] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
      >
      </div>
    </div>
  </div>
</div>

<div class="products-section">
  <div class="bg-white">
    <div
      class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8"
    >
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Самые очаровательные девушки
      </h2>
      <p class="mt-4 text-gray-500">
        Поиск спутницы порой занимает всю человеческую жизнь. Но если речь идет
        о презентации, поездке, вечеринке, выставке или просто приятном вечере
        вдвоем, целесообразнее всего обратиться в наше агентство, обеспечивающее
        лучший эскорт.
      </p>
      <p class="pt-2 text-sm font-semibold leading-6 text-indigo-600">
        В ЦЕЛЯХ СОХРАНЕНИЯ КОНФИДИЦИАЛЬНОСТИ ПОКАЗАНЫ ПРОСТО ТИПАЖИ
      </p>

      <div
        class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
      >
        {
          mainPageModels.map(
            ({ props: { name, price, images }, params: { id } }) => (
              <ModelCard id={id} name={name} price={price} img={images[0]} />
            )
          )
        }
      </div>
    </div>
  </div>
</div>

<div class="pb-1 bg-white">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div
      class="mx-auto mt-16 max-w-2xl rounded-3xl ring-1 ring-gray-200 sm:mt-20 lg:mx-0 lg:flex lg:max-w-none"
    >
      <div class="p-8 sm:p-10 lg:flex-auto">
        <h3 class="text-2xl font-bold tracking-tight text-gray-900">
          Какими качествами обладают наши девушки?
        </h3>
        <p class="mt-6 text-base leading-7 text-gray-600">
          Все наши эскортницы физически и психически здоровы. Общение с ними
          способно скрасить досуг и деловое мероприятие. К тому же, они
          прекрасные собеседницы, ведь профессия обязывает их разбираться во
          многих вещах.
        </p>

        <div class="mt-10 flex items-center gap-x-4">
          <div class="h-px flex-auto bg-gray-100"></div>
        </div>
        <ul
          class="mt-8 grid grid-cols-1 gap-4 text-sm leading-6 text-gray-600 sm:grid-cols-2 sm:gap-6"
        >
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-emerald-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"></path>
            </svg>
            Презентабельность и ухоженность
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-emerald-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"></path>
            </svg>
            Сексуальность и красивое тело
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-emerald-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"></path>
            </svg>
            Гибкость и воспитанность
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-emerald-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"></path>
            </svg>
            Умение проявлять уважение
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-emerald-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"></path>
            </svg>
            Страстность по отношению к спутнику
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-emerald-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"></path>
            </svg>
            Вкус и умение поддержать беседу
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div
  class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0"
>
  <div class="absolute inset-0 -z-10 overflow-hidden">
    <svg
      class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]"
      aria-hidden="true"
    >
      <defs>
        <pattern
          id="e813992c-7d03-4cc4-a2bd-151760b470a0"
          width="200"
          height="200"
          x="50%"
          y="-1"
          patternUnits="userSpaceOnUse"
        >
          <path d="M100 200V.5M.5 .5H200" fill="none"></path>
        </pattern>
      </defs>
      <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
        <path
          d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z"
          stroke-width="0"></path>
      </svg>
      <rect
        width="100%"
        height="100%"
        stroke-width="0"
        fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)"></rect>
    </svg>
  </div>
  <div
    class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10"
  >
    <div
      class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8"
    >
      <div class="lg:pr-4">
        <div class="lg:max-w-lg">
          <h2
            class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
          >
            Какие у нас представлены девушки?
          </h2>
          <p class="mt-6 text-xl leading-8 text-gray-700">
            Красавицы, общество которых можно заказать у нас, являются
            профессиональными моделями, поэтому с их участием можно снять
            чудесное фото или фильм для души. Вы часто можете увидеть этих
            девушек на страницах модных журналов или показах мод.
          </p>
        </div>
      </div>
    </div>
    <div
      class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden"
    >
      <h3 class="flex gap-x-3">
        <svg
          class="mt-1 h-5 w-5 flex-none text-emerald-600"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z"
            clip-rule="evenodd"></path>
        </svg>
        Мы гарантируем полную конфидициальность
      </h3>

      <p class="mt-6 text-xl leading-8 text-gray-700 pb-5">
        Все модели обладают обаянием и изюминкой. Одеты в дорогих бутиках и со
        вкусом. Не проявляют публично склонности к дурным привычкам. Как
        правило, это свободные девушки, не отягощенные семейными обязанностями.
      </p>
      <a
        href="https://api.whatsapp.com/send?phone=447480686013"
        target="_blank"
        class="text-white bg-red-400 hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >Организовать встречу</a
      >
    </div>
    <div
      class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8"
    >
      <div class="lg:pr-4">
        <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
          <p>
            Это не обязательно высокие худые женщины, ведь дамой премиум-класса
            могут быть и пышные девушки, блондинки, брюнетки, шатенки. Это могут
            быть зрелые женщины или же совсем юные девицы. Специально для наших
            клиентов мы выделяем девочек различной полноты и длины ног.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-white py-24 sm:py-10">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <p
        class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
      >
        Особенности наших услуг
      </p>

      <p class="mt-6 text-lg leading-8 text-gray-600">
        Наш вип эскорт — динамичное и развивающееся агентство, помощью которого
        пользуются очень многие уважаемые мужчины. Чтобы не оказаться в неловкой
        ситуации из-за отсутствия партнерши, клиенты часто заказывают
        нижеперечисленные услуги.
      </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl
        class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16"
      >
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div
              class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-red-300"
            >
              <svg
                class="text-white w-6 h-6"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"></path>
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M17.8 13.938h-.011a7 7 0 1 0-11.464.144h-.016l.14.171c.1.127.2.251.3.371L12 21l5.13-6.248c.194-.209.374-.429.54-.659l.13-.155Z"
                ></path>
              </svg>
            </div>
            Девушки для мероприятий в Москве
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">
            Сопровождение на мероприятиях. Особенность элитного эскорта в Москве
            — высокая потребность присутствия очаровательной компании на
            корпоративных мероприятиях, а порой даже семейных. Стильные
            образованные партнерши не ударят лицом в грязь ни в какой
            обстановке.
          </dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div
              class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-red-300"
            >
              <svg
                class="text-white w-6 h-6"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"></path>
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M17.8 13.938h-.011a7 7 0 1 0-11.464.144h-.016l.14.171c.1.127.2.251.3.371L12 21l5.13-6.248c.194-.209.374-.429.54-.659l.13-.155Z"
                ></path>
              </svg>
            </div>
            Эскорт сопровождение за границу в Москве
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">
            Компания для отдыха или путешествия. Женщины, как правило, лучше
            разбираются в бытовых вопросах, ориентируются в незнакомых городах и
            странах. Vip эскорт предполагает сопровождение, которое может
            скрасить отпуск или командировку.
          </dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div
              class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-red-300"
            >
              <svg
                class="text-white w-6 h-6"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"></path>
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M17.8 13.938h-.011a7 7 0 1 0-11.464.144h-.016l.14.171c.1.127.2.251.3.371L12 21l5.13-6.248c.194-.209.374-.429.54-.659l.13-.155Z"
                ></path>
              </svg>
            </div>
            Девушки для съемок в Москве
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">
            Специально обученные сотрудницы могут участвовать в любительских
            съемках, которые пригодятся вам в дальнейшем для создания имиджа.
          </dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div
              class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-red-300"
            >
              <svg
                class="text-white w-6 h-6"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"></path>
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M17.8 13.938h-.011a7 7 0 1 0-11.464.144h-.016l.14.171c.1.127.2.251.3.371L12 21l5.13-6.248c.194-.209.374-.429.54-.659l.13-.155Z"
                ></path>
              </svg>
            </div>
            Эскорт сопровождение в Москве
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">
            Также возможно заказать у нас водителя вместе с девушками.
          </dd>
        </div>
      </dl>
    </div>
    <div class="flex items-center justify-center h-40">
      <a
        href="/services"
        class="center text-white bg-red-400 hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >Посмотреть все услуги</a
      >
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="bg-white pb-20">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div
        class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3"
      >
        <article class="flex max-w-xl flex-col items-start">
          <div class="group relative">
            <h3
              class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
            >
              КАК ДОРОГО ЗАКАЗАТЬ ЭСКОРТ В МОСКВЕ?
            </h3>
            <p class="mt-5 text-sm leading-6 text-gray-600">
              Стоимость услуги варьируется в зависимости от сложности задачи. К
              примеру, для вечеринки может понадобиться красавица с навыками
              караоке, для путешествия — знающая языки. Вы можете также заказать
              женщину-хостес или для ужина. В столице снять девушку конечно
              намного дороже, чем в других городах. И европейский опыт
              показывает, что данный вид услуг всегда был не дешев.
            </p>
            <p class="mt-5 text-sm leading-6 text-gray-600">
              Наше эскорт-агентство с исключительным вниманием относится к
              индивидуальным потребностям клиента и гарантирует быстрое
              воплощение в жизнь его мечты о прекрасной даме.
            </p>
            <p class="mt-5 text-sm leading-6 text-gray-600">
              Работа оплачивается преимущественно в часах наиболее удобным
              способом. На стоимость влияет, как время, потраченное на задание
              менеджером, так и сложность услуги. Но, в любом случае, необходимо
              быть готовыми заплатить несколько тысяч, ведь красота и внимание —
              это очень ценные вещи.
            </p>
          </div>
          <div class="relative mt-8 flex items-center gap-x-4">
            <a
              href="/models"
              class="text-white bg-red-400 hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              >Перейти в каталог моделей</a
            >
          </div>
        </article>
        <article class="flex max-w-xl flex-col items-start">
          <div class="group relative">
            <h3
              class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
            >
              КАК РАБОТАЕТ ЭСКОРТ В МОСКВЕ?
            </h3>
            <p class="mt-5 text-sm leading-6 text-gray-600 pb-2">
              Услуги эскорта в Москве могут быть организованы, как
              эскорт-агентством, так и частными лицами. Но намного разумнее
              обратиться в такое агенство, как наше, так как мы предоставляем:
            </p>
            <ul
              class="max-w-md space-y-1 text-gray-500 list-inside dark:text-gray-400"
            >
              <li class="flex items-center">
                <svg
                  class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                  ></path>
                </svg>
                Гарантии конфиденциальности
              </li>
              <li class="flex items-center">
                <svg
                  class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                  ></path>
                </svg>
                Профессиональный подбор участниц
              </li>
              <li class="flex items-center">
                <svg
                  class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                  ></path>
                </svg>
                Качественное обслуживание
              </li>
            </ul>
            <p class="mt-5 text-sm leading-6 text-gray-600">
              Общение с частными эскортницами или поиск их на онлайн-платформах
              не дает никаких гарантий качества обслуживания. Наши же девушки
              прошли собеседование, продемонстрировав свой интеллектуальный
              уровень, проверена их личная информация и профессионализм.
            </p>
          </div>
          <div class="relative mt-8 flex items-center gap-x-4">
            <a
              href="/about"
              class="text-white bg-red-400 hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              >Узнать больше о нас<a></a>
            </a>
          </div>
        </article>

        <article class="flex max-w-xl flex-col items-start">
          <div class="group relative">
            <h3
              class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
            >
              КАК РАБОТАЕТ НАШ САЙТ?
            </h3>

            <p class="mt-5 text-sm leading-6 text-gray-600">
              Благодаря нашему интерфейсу клиенты быстро находят необходимых
              спутниц, а также прайс. Благодаря категориям и фильтрам легко
              найти информацию о доступных услугах и ценах. Заказать услуги
              эскорта в Москве можно, предварительно установив контакт с
              девушкой, либо с нашими менеджерами.
            </p>
            <p class="mt-5 text-sm leading-6 text-gray-600">
              Фильтры сайта по параметрам возраста, внешности, весу позволяют
              ускорить выбор. Мы предоставляем полную информацию об услугах и
              графике работы наших сотрудниц, а также наличие положительных
              отзывов.
            </p>
          </div>
          <div class="relative mt-8 flex items-center gap-x-4">
            <a
              href="https://api.whatsapp.com/send?phone=447480686013"
              target="_blank"
              class="text-white bg-red-400 hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              >Написать менеджеру</a
            >
          </div>
        </article>

        <!-- More posts... -->
      </div>
    </div>
  </div>

  <section
    class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:px-8"
  >
    <div
      class="absolute inset-0 -z-10 bg-[radial-gradient(45rem_50rem_at_top,theme(colors.red.100),white)] opacity-20"
    >
    </div>
    <div
      class="absolute inset-y-0 right-1/2 -z-10 mr-16 w-[200%] origin-bottom-left skew-x-[-30deg] bg-white shadow-xl shadow-red-600/10 ring-1 ring-red-50 sm:mr-28 lg:mr-0 xl:mr-16 xl:origin-center"
    >
    </div>

    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
      <h2
        class="mb-4 text-2xl font-extrabold tracking-tight leading-none text-gray-900 md:text-4xl lg:text-4xl dark:text-white"
      >
        Зачем существуют эскорт-агентства?
      </h2>
      <p
        class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400"
      >
        Для состоятельных мужчин и просто закоренелых холостяков часто бывает
        затруднительно найти спутницу, с которой можно блеснуть в обществе и
        получить при этом действительно колоссальное удовольствие.
      </p>
      <p
        class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400"
      >
        Мы много лет обеспечиваем эскорт в Москве и украшаем досуг наших
        клиентов. Вы можете осуществить заказ на дом понравившейся вам модели из
        нашего списка. Девушку можно вызвать, как на час, так и на время всего
        интересующего вас мероприятия. Стоимость работы по вызову будет
        колебаться в зависимости от планов заказчика. Услуга может быть, как
        очень дорогой, так и доступной. Чтобы определиться, необходимо
        ознакомиться с нашим прайсом.
      </p>
      <p
        class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400"
      >
        Понятие эскорт услуги происходит от английского глагола escort, что
        означает сопровождение. Эффектные спутницы могут появиться с нашими
        клиентами на деловой встрече, благотворительном балу, во время
        путешествия. Традиция выбирать незнакомых женщин себе в компанию
        проистекает от древнегреческой культуры. Всем известные гетеры были
        красивы, знали многие иностранные языки, были физически тренированными,
        умели вести разговоры о серьезных вещах, петь и танцевать. С девушками,
        которых можно найти на нашем сайте по умеренной цене, никогда не стыдно
        появиться в обществе, а проводить время с ними хочется и в дальнейшем.
      </p>
      <p
        class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400"
      >
        Эскорт агентство обеспечивает, как встречу в Москве, так и присутствие
        девочек на выставках, в поездках, мальчишниках и прочее. Также можно
        заказать трансфер с водителем и сопровождение для супружеских пар.
      </p>
      <div
        class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0"
      >
        <a
          href="/models"
          class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-red-400 hover:bg-red-500 focus:ring-4 focus:ring-red-300 dark:focus:ring-red-900"
        >
          Выбрать девушку
          <svg
            class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"></path>
          </svg>
        </a>
        <a
          href="https://api.whatsapp.com/send?phone=447480686013"
          target="_blank"
          class="py-3 px-5 sm:ms-4 text-sm font-medium text-red-800 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-70"
        >
          Организовать встречу
        </a>
      </div>
    </div>
  </section>
</div>

<style>
  .hero-section {
    min-height: 550px;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(#222),
        to(rgba(34, 34, 34, 0))
      ),
      url(/src/assets/img/main.webp);
    background-image: linear-gradient(360deg, #222, rgba(34, 34, 34, 0)),
      url(/src/assets/img/main.webp);
    background-position:
      0 0,
      50% 50%;
    background-size: auto, cover;
  }

  a {
    text-decoration: none !important;
  }
</style>
