---
import ModelCard from "../components/ModelCard.astro";
import ChatUs from "../components/ChatUs.astro";
---

<div class="hero-section">
  <div class="container">
    <div class="hero-wrapper">
      <h1 class="hero-heading">VIP эскорт агентство Aurora Escort в Москве</h1>

      <div class="hero-button-wrapper">
        <a href="/models/pages/1" class="btn light outline w-button"
          >Каталог моделей</a
        >
      </div>
    </div>
  </div>
</div>
<div class="products-section">
  <div class="container">
    <div class="shop-top-wrapper">
      <div class="support-top-left">
        <h2 class="support-top-heading">Самые очаровательные девушки</h2>
        <div class="description">
          Поиск спутницы порой занимает всю человеческую жизнь. Но если речь
          идет о презентации, поездке, вечеринке, выставке или просто приятном
          вечере вдвоем, целесообразнее всего обратиться в наше агентство,
          обеспечивающее лучший эскорт.
        </div>
        <div class="support-top-details-text">
          В целях сохранения конфидициальности показаны просто типажи
        </div>
      </div>
      <div class="support-top-right"></div>
    </div>
    <div class="products-list-wrapper w-dyn-list">
      <div role="list" class="products-list w-dyn-items">
        <ModelCard name="Аннет" age="22" price="50000" />
        <ModelCard name="Аннет" age="22" price="50000" />
        <ModelCard name="Аннет" age="22" price="50000" />
      </div>
    </div>
    <div class="shop-more">
      <a href="/models/pages/1" class="btn dark w-button"
        >Показать всех моделей</a
      >
    </div>
    <hr class="line" />
    <h2 class="support-top-heading models-header">
      Какими качествами обладают наши девушки?
    </h2>

    <ul class="advantages">
      <li>
        <span class="circle"></span><span class="item"
          >Презентабельность и ухоженность.</span
        >
      </li>
      <li>
        <span class="circle"></span><span class="item"
          >Сексуальность и красивое тело.</span
        >
      </li>
      <li>
        <span class="circle"></span><span class="item"
          >Гибкость и воспитанность.</span
        >
      </li>
      <li>
        <span class="circle"></span><span class="item"
          >Умение проявлять уважение.</span
        >
      </li>
      <li>
        <span class="circle"></span><span class="item"
          >Страстность по отношению к спутнику.</span
        >
      </li>
      <li>
        <span class="circle"></span><span class="item"
          >Вкус и умение поддержать беседу.</span
        >
      </li>
      <li>
        <span class="circle"></span><span class="item"
          >Легкость мышления, хорошая речь.</span
        >
      </li>
    </ul>
    <p>
      Общение с ними способно скрасить досуг и деловое мероприятие. К тому же,
      эскортницы прекрасные собеседницы, ведь профессия обязывает их разбираться
      во многих вещах.
    </p>
  </div>
</div>

<div class="safe-section">
  <div class="container">
    <div class="safe-wrapper">
      <h2 class="safe-heading">Мы гарантируем полную конфидициальность</h2>
      <p class="safe-paragraph">
        Все модели обладают обаянием и изюминкой. Одеты в дорогих бутиках и со
        вкусом. Не проявляют публично склонности к дурным привычкам. Как
        правило, это свободные девушки, не отягощенные семейными обязанностями.
      </p>
      <ChatUs>
        <div class="safe-button-wrapper">
          <div class="btn light hero safe w-button">Организовать встречу</div>
        </div>
      </ChatUs>
    </div>
  </div>
</div>
<div class="support-section">
  <div class="container">
    <div class="support-top-wrapper">
      <h2 class="support-top-heading models-header">
        Какие у нас представлены девушки?
      </h2>
      <p>
        Красавицы, общество которых можно заказать у нас, являются
        профессиональными моделями, поэтому с их участием можно снять чудесное
        фото или фильм для души. Вы часто можете увидеть этих девушек на
        страницах модных журналов или показах мод.
      </p>
      <p>
        Это не обязательно высокие худые женщины, ведь дамой премиум-класса
        могут быть и пышные девушки, блондинки, брюнетки, шатенки. Специально
        для наших клиентов мы выделяем девочек различной полноты и длины ног.
      </p>
      <hr class="line" />
      <div class="support-top-left">
        <h2 class="support-top-heading">Услуги нашего агенства.</h2>
      </div>
      <div class="support-top-details-text">
        Наше агентство не предоставляет интимные услуги.
      </div>
      <div class="support-top-right">
        <p>
          Наш вип эскорт — динамичное и развивающееся агентство, помощью
          которого пользуются очень многие уважаемые мужчины. Чтобы не оказаться
          в неловкой ситуации из-за отсутствия партнерши, клиенты часто
          заказывают нижеперечисленные услуги.
        </p>
      </div>
    </div>
    <div class="support-wrapper">
      <div class="support-column">
        <div class="support-square">
          <div class="support-square-number">1</div>
          <div class="support-square-text">
            Девушки для мероприятий в Москве
          </div><img
            src="/images/5e7ff57a5836db2a07bab0e3_Circle.svg"
            alt="Circle Decoration in Shop Products Block"
            class="support-square-image"
          />
        </div>
        <p>
          Сопровождение на мероприятиях. Особенность элитного эскорта в Москве —
          высокая потребность присутствия очаровательной компании на
          корпоративных мероприятиях, а порой даже семейных. Стильные
          образованные партнерши не ударят лицом в грязь ни в какой обстановке.
        </p>
      </div>
      <div class="support-column">
        <div class="support-square">
          <div class="support-square-number">2</div>
          <div class="support-square-text">
            Эскорт сопровождение за границу в Москве
          </div><img
            src="/images/5e7ff57adc54453434efb9ee_Triangle.svg"
            alt="Triangle Decoration in Donate Block"
            class="support-square-image triangle"
          />
        </div>
        <p>
          Компания для отдыха или путешествия. Женщины, как правило, лучше
          разбираются в бытовых вопросах, ориентируются в незнакомых городах и
          странах. Vip эскорт предполагает сопровождение, которое может скрасить
          отпуск или командировку.
        </p>
      </div>
      <div class="support-column">
        <div class="support-square">
          <div class="support-square-number">3</div>
          <div class="support-square-text">
            Эскорт сопровождение в Москве
          </div><img
            src="/images/5e7ff57afea9a31a44d66db0_Rectangle.svg"
            alt="Rectangle Decoration in Buy Gift Cards Block"
            class="support-square-image rectangle"
          />
        </div>
        <p>Также возможно заказать у нас водителя вместе с девушками.</p>
      </div>
      <div class="support-column">
        <div class="support-square">
          <div class="support-square-number">4</div>
          <div class="support-square-text">Девушки для съемок в Москве</div><img
            src="/images/5e7ff57afea9a31a44d66db0_Rectangle.svg"
            alt="Rectangle Decoration in Buy Gift Cards Block"
            class="support-square-image rectangle"
          />
        </div>
        <p>
          Специально обученные сотрудницы могут участвовать в любительских
          съемках, которые пригодятся вам в дальнейшем для создания имиджа.
        </p>
      </div>
    </div>
    <hr />
  </div>
</div>

<div class="support-section">
  <div class="container">
    <div class="support-wrapper">
      <div class="support-column">
        <div class="support-square">
          <div class="support-square-text">
            Как работает эскорт в Москве?
          </div><img
            src="/images/5e7ff57a5836db2a07bab0e3_Circle.svg"
            alt="Circle Decoration in Shop Products Block"
            class="support-square-image"
          />
        </div>
        <p>
          Услуги эскорта в Москве могут быть организованы, как
          эскорт-агентством, так и частными лицами. Но намного разумнее
          обратиться в такое агенство, как наше, так как мы предоставляем:
        </p>

        <ul class="advantages">
          <li>
            <span class="circle"></span><span class="item"
              >Гарантии конфиденциальности.</span
            >
          </li>
          <li>
            <span class="circle"></span><span class="item"
              >Профессиональный подбор участниц.</span
            >
          </li>
          <li>
            <span class="circle"></span><span class="item"
              >Качественное обслуживание.</span
            >
          </li>
        </ul>
        <p>
          Общение с частными эскортницами или поиск их на онлайн-платформах не
          дает никаких гарантий качества обслуживания. Наши же девушки прошли
          собеседование, продемонстрировав свой интеллектуальный уровень,
          проверена их личная информация и профессионализм.
        </p>
        <div class="shop-more link-section">
          <a href="/about" class="btn dark w-button">Узнать больше о нас</a>
        </div>
      </div>

      <div class="support-column">
        <div class="support-square">
          <div class="support-square-text">Как работает наш сайт?</div><img
            src="/images/5e7ff57adc54453434efb9ee_Triangle.svg"
            alt="Triangle Decoration in Donate Block"
            class="support-square-image triangle"
          />
        </div>
        <p>
          Заказать услуги эскорта в Москве можно, связавшись с нашими
          менеджерами.
        </p>
        <ChatUs>
          <div class="shop-more link-section">
            <div class="btn dark w-button">Связаться с менеджером</div>
          </div>
        </ChatUs>
      </div>
      <div class="support-column">
        <div class="support-square">
          <div class="support-square-text">
            Сколько стоит заказать эскорт в Москве?
          </div><img
            src="/images/5e7ff57afea9a31a44d66db0_Rectangle.svg"
            alt="Rectangle Decoration in Buy Gift Cards Block"
            class="support-square-image rectangle"
          />
        </div>
        <p>
          Стоимость услуги варьируется в зависимости от сложности запроса. К
          примеру, для вечеринки может понадобиться красавица с навыками
          караоке, для путешествия — знающая языки. Вы можете также заказать
          женщину-хостес или для ужина. В столице снять девушку конечно намного
          дороже, чем в других городах.
          <div class="shop-more link-section">
            <a href="/models/pages/1" class="btn dark w-button">Перейти в каталог моделей</a>
          </div>
        </p>
      </div>
    </div>
    <h2 class="support-top-heading models-header">
      Зачем существуют эскорт-агентства?
    </h2>
    <p>
      Для состоятельных мужчин и просто закоренелых холостяков часто бывает
      затруднительно найти спутницу, с которой можно блеснуть в обществе и
      получить при этом действительно колоссальное удовольствие.
    </p>
    <p>
      Мы много лет обеспечиваем эскорт в Москве и украшаем досуг наших клиентов.
      Вы можете осуществить заказ на дом понравившейся вам модели из нашего
      списка. Девушку можно вызвать, как на час, так и на время всего
      интересующего вас мероприятия. Стоимость по вызову будет колебаться в
      зависимости от планов заказчика.
    </p>
    <p>
      Эскорт агентство обеспечивает, как встречу в Москве, так и присутствие
      девочек на выставках, в поездках, мальчишниках и прочее. Также можно
      заказать трансфер с водителем и сопровождение для супружеских пар.
    </p>
    <p>
      Наше эскорт-агентство с исключительным вниманием относится к
      индивидуальным потребностям клиента и гарантирует быстрое воплощение в
      жизнь его мечты о прекрасной даме.
    </p>
  </div>
</div>

<div class="shop-local-section">
  <div class="container shop-local-container">
    <div class="shop-local-wrapper">
      <div class="shop-local-left"></div>
      <div class="shop-local-right">
        <div class="shop-local-content-wrapper">
          <h2 class="shop-local-heading">Эскорт</h2>
          <p>
            Понятие эскорт услуги происходит от английского глагола escort, что
            означает сопровождение. Эффектные спутницы могут появиться с нашими
            клиентами на деловой встрече, благотворительном балу, во время
            путешествия. Традиция выбирать незнакомых женщин себе в компанию
            проистекает от древнегреческой культуры. Всем известные гетеры были
            красивы, знали многие иностранные языки, были физически
            тренированными, умели вести разговоры о серьезных вещах, петь и
            танцевать. С девушками, которых можно найти на нашем сайте по
            умеренной цене, никогда не стыдно появиться в обществе, а проводить
            время с ними хочется и в дальнейшем
          </p>
          <p>
            Эскорт агентство обеспечивает, как встречу в Москве, так и
            присутствие девочек на выставках, в поездках, мальчишниках и прочее.
            Также можно заказать трансфер с водителем и сопровождение для
            супружеских пар.
          </p>
          <p>-------</p>
          <!--           <strong> Ваш Aurora Escort</strong>
 -->
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898ec;
    color: #fff;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
  }

  button {
    border: 0;
    cursor: pointer;
    -webkit-appearance: button;
  }

  .w-dyn-bind-empty {
    display: none !important;
  }
  .w-condition-invisible {
    display: none !important;
  }

  .btn {
    padding: 5px 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #eb5757;
    border-radius: 5px;
    background-color: #eb5757;
    -webkit-transition:
      border-color 0.3s ease,
      background-color 0.3s ease;
    transition:
      border-color 0.3s ease,
      background-color 0.3s ease;
    font-weight: 700;
  }
  .btn:hover {
    border-color: #222;
    background-color: #222;
  }
  .btn.dark {
    border-color: #222;
    background-color: #222;
  }
  .btn.dark:hover {
    border-color: #eb5757;
    background-color: #eb5757;
  }
  .btn.dark.outline {
    border-color: #222;
    color: #222;
  }
  .btn.dark.outline:hover {
    border-color: #222;
    background-color: #222;
  }
  .btn.light {
    border-color: #f9f9f9;
    background-color: #f9f9f9;
    color: #222;
  }
  .btn.light:hover {
    border-color: #eb5757;
    background-color: #eb5757;
    color: #f9f9f9;
  }
  .btn.light.outline {
    color: #f9f9f9;
  }
  .btn.light.outline:hover {
    border-color: #f9f9f9;
    background-color: #f9f9f9;
    color: #222;
  }
  .btn.light.hero {
    margin-right: 10px;
  }
  .btn.outline {
    background-color: transparent;
    color: #eb5757;
  }
  .btn.outline:hover {
    border-color: #eb5757;
    background-color: #eb5757;
    color: #f9f9f9;
  }
  .btn.outline:focus {
    border-style: solid;
    border-width: 1px;
    border-color: #eb5757;
    box-shadow: 0 0 2px 0 #eb5757;
  }

  .container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  .pill {
    margin-right: 10px;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #1976d2;
    color: #f9f9f9;
  }
  .pill.badge {
    border-radius: 0;
  }
  .pill.primary {
    background-color: #eb5757;
    font-size: 16px;
  }
  .hero-section {
    min-height: 550px;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(#222),
        to(rgba(34, 34, 34, 0))
      ),
      url(/src/assets/img/main.webp);
    background-image: linear-gradient(360deg, #222, rgba(34, 34, 34, 0)),
      url(/src/assets/img/main.webp);
    background-position:
      0 0,
      50% 50%;
    background-size: auto, cover;
  }
  /*   .hero-section.about-hero {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(#222),
        to(rgba(34, 34, 34, 0))
      ),
      url(/images/5e840df8e2c9cc7677e4f00e_felix-rostig-UmV2wr-Vbq8-unsplash.jpg);
    background-image: linear-gradient(360deg, #222, rgba(34, 34, 34, 0)),
      url(/images/5e840df8e2c9cc7677e4f00e_felix-rostig-UmV2wr-Vbq8-unsplash.jpg);
    background-position:
      0 0,
      50% 60%;
    background-size: auto, cover;
  } */
  .hero-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 550px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .hero-heading {
    width: 35%;
    color: #f9f9f9;
    font-size: 62px;
    line-height: 1.2;
  }
  .hero-paragraph {
    width: 35%;
    margin-bottom: 25px;
    color: #f9f9f9;
    font-size: 18px;
  }
  .support-section {
    padding-top: 65px;
  }
  .support-top-wrapper {
    margin-bottom: 40px;
  }
  .support-top-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .support-top-details-text {
    text-transform: uppercase;
  }
  .support-top-heading {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    line-height: 1.2;
    padding-bottom: 10px;
  }
  .support-top-right {
    width: 45%;
  }
  .support-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .support-column {
    width: 30%;
    min-height: 200px;
  }
  .support-square {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    min-height: 350px;
    margin-bottom: 45px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
    background-color: #222;
  }
  .support-square-number {
    position: absolute;
    left: 10%;
    top: 10%;
    right: auto;
    bottom: auto;
    color: #f9f9f9;
    font-size: 40px;
    font-weight: 700;
  }
  .support-square-text {
    color: #f9f9f9;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
  .support-square-image {
    position: absolute;
    left: auto;
    top: auto;
    right: -25%;
    bottom: -25%;
  }
  .support-square-image.triangle {
    right: -11%;
    bottom: -17%;
  }
  .support-square-image.rectangle {
    right: -14%;
    bottom: -31%;
  }
  .safe-section {
    min-height: 550px;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(34, 34, 34, 0.17)),
        to(#222)
      ),
      url(/src/assets/img/pair.webp);
    background-image: linear-gradient(180deg, rgba(34, 34, 34, 0.17), #222),
      url(/src/assets/img/pair.webp);
    background-position:
      0 0,
      50% 50%;
    background-size: auto, cover;
  }
  .safe-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 550px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .safe-heading {
    width: 45%;
    color: #f9f9f9;
    font-size: 45px;
    line-height: 1.2;
    text-align: right;
  }
  .safe-paragraph {
    width: 35%;
    margin-bottom: 25px;
    color: #f9f9f9;
    font-size: 18px;
    text-align: right;
  }
  .products-section {
    padding-top: 65px;
    padding-bottom: 65px;
  }
  .shop-top-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .shop-item-wrapper {
    width: 100%;
    margin-bottom: 40px;
  }
  .shop-image {
    min-height: 500px;
    margin-bottom: 30px;
    border-radius: 5px;
  }
  .shop-image.tumbler-1 {
    position: relative;
    margin-bottom: 15px;
  }

  .shop-details-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .shop-details-left {
    width: 100%;
  }
  .shop-item-name {
    color: #222;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }
  .shop-item-price {
    margin-right: 10px;
    color: #222;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
  }
  .shop-item-price.compare {
    color: #eb5757;
    text-decoration: line-through;
  }
  .shop-local-section {
    padding-top: 65px;
    padding-bottom: 65px;
  }
  .shop-local-wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 500px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .shop-local-left {
    /*     position: absolute;
    left: 0;
    top: 6%;
    right: auto;
    bottom: 0;
    width: 30%;
    height: 0;
    min-height: 440px;
    border-radius: 5px;
    background-image: url(/images/feeling-girl.jpg);
    background-size: cover; */
  }
  .shop-local-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    padding: 45px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    border-radius: 5px;
    background-color: #222;
    color: #f9f9f9;
  }
  .shop-local-content-wrapper {
    width: 80%;
    padding-right: 145px;
    padding-left: 145px;
    
  }
  .shop-local-heading {
    margin-top: 0;
    font-size: 45px;
    line-height: 1.2;
  }
  .content-section {
    padding-top: 65px;
    padding-bottom: 65px;
  }
  .about-column {
    width: 22%;
  }
  .image {
    display: block;
  }
  .heading {
    margin-top: 55px;
  }
  .products-list {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .price-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
    padding-bottom: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px none rgba(34, 34, 34, 0.08);
  }
  .pill-2 {
    margin-right: 10px;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #1976d2;
    color: #f9f9f9;
  }
  .pill-2.badge {
    border-radius: 0;
  }
  .pill-2.badge.primary.sale {
    position: absolute;
    left: auto;
    top: 4%;
    right: 2%;
    bottom: auto;
    border-radius: 5px;
    background-color: #eb5757;
    font-size: 14px;
    text-transform: uppercase;
  }
  .shop-button-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .shop-item-link-wrapper {
    width: 100%;
    text-decoration: none;
  }
  .shop-list {
    width: 80%;
  }
  .empty {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 200px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
  }
  .shop-more {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .donate-heading-1 {
    margin-bottom: -5px;
    font-size: 38px;
    font-weight: 800;
    text-align: center;
  }
  .donate-heading-2 {
    margin-bottom: 15px;
    font-size: 30px;
    text-align: center;
  }
  .donate-paragraph {
    width: 65%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .donate-wrapper {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 30px 10px;
    border: 2px solid #222;
    border-radius: 5px;
  }
  .donate-link-block {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #eb5757;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    color: #f9f9f9;
    text-align: center;
    text-decoration: none;
  }
  .donate-link-block:hover {
    background-color: #222;
  }
  .text-block {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    color: #f9f9f9;
    font-size: 24px;
    font-weight: 800;
  }
  .block-content {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .alert-empty {
    display: none;
    background-color: transparent;
  }
  @media screen and (max-width: 991px) {
    .container {
      padding-right: 15px;
      padding-left: 15px;
    }
    .hero-heading {
      width: 60%;
    }
    .hero-paragraph {
      width: 55%;
    }
    .support-square {
      min-height: 330px;
    }
    .support-square-text {
      font-size: 30px;
    }
    .support-square-image.rectangle {
      bottom: -35%;
    }
    .safe-heading {
      width: 60%;
    }
    .safe-paragraph {
      width: 55%;
    }
    .shop-image.tumbler-1 {
      min-height: 350px;
    }
    .shop-image.tumbler-1 {
      min-height: 350px;
    }
    .shop-details-wrapper {
      font-size: 14px;
    }
    .shop-details-left {
      margin-right: 25px;
    }
    .shop-local-left {
      top: 8%;
    }
    .shop-local-content-wrapper {
      padding-right: 0;
      padding-left: 0;
    }
    .shop-local-heading {
      margin-top: 0;
    }
    .products-list {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
    .shop-list {
      width: 100%;
    }
  }
  @media screen and (max-width: 767px) {
    .container.shop-local-container {
      padding-right: 0;
      padding-left: 0;
    }
    .support-top-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
    .support-top-left {
      margin-bottom: 15px;
    }
    .support-top-right {
      width: 100%;
    }
    .support-wrapper {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .support-column {
      width: 100%;
      margin-bottom: 40px;
    }
    .support-square-text {
      font-size: 40px;
    }
    .support-square-image {
      right: -18%;
    }
    .safe-wrapper {
      padding-bottom: 25px;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
    .shop-top-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
    .shop-item-wrapper {
      width: 100%;
      margin-bottom: 50px;
    }
    .shop-local-wrapper {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .shop-local-left {
      position: static;
      width: 100%;
      border-radius: 0;
    }
    .shop-local-right {
      width: 100%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-radius: 0;
    }
    .about-column {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      margin-bottom: 45px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
    }
    .products-list {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
    .pill-2.badge.primary.sale {
      right: 2%;
    }
    .shop-list {
      width: 100%;
    }
    .donate-wrapper {
      width: 90%;
    }
  }
  @media screen and (max-width: 479px) {
    .btn.light.hero.safe {
      margin-right: 0;
    }
    .hero-wrapper {
      padding-bottom: 45px;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
    .hero-heading {
      font-size: 30px;
    }
    .hero-paragraph {
      width: 70%;
      font-size: 13px;
    }
    .safe-heading {
      width: 100%;
      font-size: 30px;
    }
    .safe-paragraph {
      width: 70%;
      font-size: 13px;
    }
    .shop-details-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }
    .shop-details-left {
      margin-right: 0;
    }
    .shop-item-name {
      text-align: center;
    }
    .shop-item-price {
      margin-right: 5px;
      margin-left: 5px;
    }
    .shop-local-section {
      padding-top: 0;
      padding-bottom: 0;
    }
    .shop-local-right {
      padding-right: 0;
      padding-left: 0;
    }
    .about-column {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
    }
    .price-wrapper {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    .pill-2.badge.primary.sale {
      position: absolute;
      left: auto;
      top: 3%;
      right: 0;
      bottom: auto;
      border-radius: 5px;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  .link-section {
    margin-bottom: 35px;
    justify-content: flex-start;
  }

  .description {
    padding-bottom: 10px;
  }

  .models-header {
    margin-top: 30px;
  }

  .line {
    margin-top: 30px;
    width: 100%;
  }

  .advantages {
    list-style: none;
    padding: 0;
  }
  .advantages li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .advantages .circle {
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
    margin-right: 10px;
  }
</style>
