---
import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle.astro";
---

<Layout>
  <meta
    slot="description"
    name="description"
    content="Политика конфиденциальности сайта auroraescort.com. Внимательно ознакомьтесь с нашими условиями."
  />
  <title slot="title">Политика конфиденциальности - Aurora Escort</title>
  <PageTitle>Политика конфиденциальности</PageTitle>

  <div class="container">
    <h2>1. Термины и определения</h2>
    <p>
      <strong>Агентство</strong> – Aurora Escort, оказывающее услуги по организации
      элитного отдыха.
    </p>
    <p>
      <strong>Клиент</strong> – любое физическое лицо, воспользовавшееся услугами
      Агентства или посетившее веб-сайт Агентства.
    </p>
    <p>
      <strong>Сайт</strong> – <a href="http://auroraescort.com"
        >http://auroraescort.com</a
      >.
    </p>
    <p>
      <strong>Договор</strong> – договор на оказание услуг, заключаемый между Агентством
      и Клиентом посредством акцепта публичной оферты, размещенной на Сайте.
    </p>

    <h2>2. Общие положения</h2>
    <p>
      Настоящая политика конфиденциальности (далее – "Политика") регулирует
      обработку и защиту персональной информации, которую Агентство получает от
      Клиентов при использовании ими Сайта. Использование Сайта Клиентом
      означает его согласие с данной Политикой и условиями обработки его
      персональной информации. Если Клиент не согласен с этими условиями, он
      должен воздержаться от использования Сайта.
    </p>

    <h2>3. Персональная информация Клиента</h2>
    <p>
      3.1. Под персональной информацией понимается информация, которую Клиент
      предоставляет о себе самостоятельно при использовании Сайта, включая:
    </p>
    <ul>
      <li>Контактные данные (телефон, email)</li>
      <li>Информация о заказах и предпочтениях</li>
      <li>Платежные данные (обрабатываются в зашифрованном виде)</li>
    </ul>
    <p>
      3.2. Политика применяется только к данным, собираемым при использовании
      Сайта, и не распространяется на сайты третьих лиц, на которые могут вести
      ссылки с нашего Сайта.
    </p>
    <p>
      3.3. Агентство оставляет за собой право проверять точность предоставленных
      Клиентом данных, но полагается на их актуальность и достоверность.
    </p>

    <h2>4. Цели обработки персональной информации</h2>
    <p>
      Агентство собирает и использует персональные данные для следующих целей:
    </p>
    <ul>
      <li>Идентификация Клиента при заключении Договора</li>
      <li>
        Связь с Клиентом по вопросам предоставления услуг и обработки запросов
      </li>
      <li>Улучшение работы Сайта и качества предоставляемых услуг</li>
      <li>
        Проведение статистических и аналитических исследований на основе
        обезличенных данных
      </li>
    </ul>

    <h2>5. Условия обработки и передачи персональной информации</h2>
    <p>
      5.1. Агентство хранит персональные данные в соответствии с требованиями
      законодательства.
    </p>
    <p>
      5.2. Конфиденциальность персональной информации сохраняется, за
      исключением случаев, когда Клиент самостоятельно предоставляет информацию
      для общего доступа.
    </p>
    <p>
      5.3. Агентство вправе передавать персональные данные третьим лицам в
      следующих случаях:
    </p>
    <ul>
      <li>С согласия Клиента</li>
      <li>Для выполнения условий Договора</li>
      <li>В соответствии с законодательными требованиями</li>
      <li>
        В случае продажи или передачи бизнеса, при этом все обязательства по
        защите данных переходят к новому владельцу
      </li>
    </ul>

    <h2>6. Изменение и удаление персональной информации</h2>
    <p>
      6.1. Клиент имеет право изменять или удалять свои персональные данные,
      обратившись в Агентство.
    </p>
    <p>
      6.2. Агентство может быть обязано сохранить измененные или удаленные
      данные в соответствии с законодательными требованиями на определенный
      срок.
    </p>

    <h2>7. Меры по защите персональной информации</h2>
    <p>
      Агентство принимает все необходимые меры для защиты персональных данных
      Клиентов от несанкционированного доступа, изменения, уничтожения или
      распространения. Используются современные методы шифрования и защиты
      данных.
    </p>

    <h2>8. Изменения в Политике конфиденциальности</h2>
    <p>
      8.1. Агентство оставляет за собой право вносить изменения в Политику.
      Актуальная версия Политики всегда доступна на Сайте с указанием даты
      последнего обновления.
    </p>
    <p>
      8.2. К Политике и отношениям между Клиентом и Агентством применяется право
      Российской Федерации.
    </p>

    <h2>9. Контакты</h2>
    <p>
      Если у вас есть вопросы или пожелания относительно данной Политики,
      пожалуйста, свяжитесь с нами.
    </p>
    <!--  <p>
      <strong>Aurora Escort</strong><br />
      Электронная почта: [Ваш email]<br />
      Телефон: [Ваш телефон]<br />
      Адрес: [Ваш адрес]
    </p> -->

    <h2>10. Согласие</h2>
    <p>
      Используя услуги Aurora Escort, Клиент подтверждает свое согласие с
      условиями данной Политики конфиденциальности.
    </p>
  </div>
</Layout>

<style>
  h1,
  h2 {
    color: #333;
  }
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  h2 {
    margin-top: 20px;
    font-size: 25px;
  }
  p {
    margin: 10px 0;
  }
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
</style>
