---
import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle.astro";
---

<Layout>
  <meta
    slot="description"
    name="description"
    content="Политика конфиденциальности сайта AuroraEscort.com. Внимательно ознакомьтесь с нашими условиями."
  />
  <title slot="title">Политика конфиденциальности - Aurora Escort</title>
  <PageTitle>Политика конфиденциальности</PageTitle>
</Layout>
