---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container">
    <h1 class="pt-20">Публичная оферта</h1>

    <h2>1. Общие положения</h2>
    <p>
      1.1. Настоящий документ является официальным предложением (публичной
      офертой) эскорт агентства "Aurora Escort" (далее - "Агентство") заключить
      договор на оказание услуг по организации времяпрепровождения (далее -
      "Услуги") с любым физическим лицом (далее - "Клиент"), принявшим условия
      настоящей оферты.
    </p>
    <p>
      1.2. Акцепт настоящей оферты Клиентом осуществляется путем оформления
      заказа на Услуги через веб-сайт Агентства (далее - "Сайт") или иным
      способом, подтверждающим намерение Клиента воспользоваться Услугами
      Агентства.
    </p>
    <p>
      1.3. Договор на оказание услуг считается заключенным с момента акцепта
      оферты Клиентом (далее - "Договор").
    </p>

    <h2>2. Предмет договора</h2>
    <p>
      2.1. Агентство обязуется оказать Клиенту Услуги по организации элитного
      отдыха в соответствии с условиями настоящей оферты и полученной от Клиента
      заявкой.
    </p>
    <p>
      2.2. Перечень Услуг, их стоимость и условия предоставления указаны на
      Сайте. Конкретные условия оказываемых Услуг определяются в заявке,
      оформленной Клиентом.
    </p>

    <h2>3. Права и обязанности сторон</h2>
    <h3>3.1. Обязанности Агентства:</h3>
    <ul>
      <li>
        3.1.1. Оказать Услуги в соответствии с условиями настоящей оферты и
        заявкой Клиента.
      </li>
      <li>
        3.1.2. Обеспечить конфиденциальность персональных данных Клиента в
        соответствии с Политикой конфиденциальности.
      </li>
      <li>
        3.1.3. Предоставить Клиенту информацию о порядке и условиях оказания
        Услуг.
      </li>
    </ul>

    <h3>3.2. Права Агентства:</h3>
    <ul>
      <li>
        3.2.1. Получать от Клиента информацию, необходимую для оказания Услуг.
      </li>
    </ul>

    <h3>3.3. Обязанности Клиента:</h3>
    <ul>
      <li>
        3.3.1. Предоставить Агентству достоверную информацию, необходимую для
        оказания Услуг.
      </li>
      <li>
        3.3.2. Оплатить Услуги в соответствии с условиями настоящей оферты.
      </li>
    </ul>

    <h3>3.4. Права Клиента:</h3>
    <ul>
      <li>
        3.4.1. Получать от Агентства информацию о порядке и условиях оказания
        Услуг.
      </li>
      <li>
        3.4.2. Требовать от Агентства оказания Услуг в соответствии с условиями
        настоящей оферты и заявкой.
      </li>
    </ul>

    <h2>4. Стоимость услуг и порядок расчетов</h2>
    <p>
      4.1. Стоимость Услуг определяется в соответствии с тарифами, указанными на
      Сайте, и подтверждается заявкой Клиента.
    </p>
    <p>
      4.2. Оплата Услуг производится в порядке предоплаты, если иное не
      предусмотрено отдельным соглашением между сторонами.
    </p>
    <p>
      4.3. Клиент обязуется оплатить Услуги в течение 1 дня с момента акцепта
      оферты.
    </p>

    <h2>5. Ответственность сторон</h2>
    <p>
      5.1. Агентство не несет ответственности за неисполнение обязательств по
      Договору в случае предоставления Клиентом недостоверной или неполной
      информации.
    </p>
    <p>
      5.2. В случае нарушения Клиентом условий оплаты Агентство имеет право
      приостановить оказание Услуг до полного погашения задолженности.
    </p>

    <h2>6. Конфиденциальность и защита персональных данных</h2>
    <p>
      6.1. Агентство обязуется обеспечивать конфиденциальность и защиту
      персональных данных Клиента в соответствии с Политикой конфиденциальности.
    </p>
    <p>
      6.2. Клиент соглашается на обработку своих персональных данных в целях
      исполнения Договора.
    </p>

    <h2>7. Изменение и расторжение договора</h2>
    <p>
      7.1. Агентство имеет право вносить изменения в условия настоящей оферты.
      Изменения вступают в силу с момента их опубликования на Сайте.
    </p>
    <p>
      7.2. Клиент имеет право расторгнуть Договор в любое время, уведомив об
      этом Агентство не менее чем за 1 день до предполагаемой даты расторжения.
      При этом Клиент обязан оплатить фактически оказанные Услуги.
    </p>

    <h2>8. Прочие условия</h2>

    <p>
      8.1. Все споры и разногласия, возникающие в связи с исполнением настоящей
      оферты, стороны будут стремиться разрешить путем переговоров.
    </p>

    <p>
      Принятием условий данной публичной оферты Клиент подтверждает, что
      ознакомлен и согласен с условиями оказания услуг, а также с Политикой
      конфиденциальности.
    </p>
  </div>
</Layout>

<style>
  .container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h1,
  h2,
  h3 {
    color: #333;
  }
  h1 {
    text-align: center;
  }
  p {
    margin: 10px 0;
  }
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
</style>
