---
import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle.astro";
---

<Layout>
  <meta
    slot="description"
    name="description"
    content="Самые популярные часто задаваемые вопросы от наших клиентов. Найдите ответы на свои вопросы."
  />
  <title slot="title">Часто задаваемые вопросы - Aurora Escort</title>

  <PageTitle>Часто задаваемые вопросы</PageTitle>
</Layout>
