---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <meta
    slot="description"
    name="description"
    content="Самые популярные часто задаваемые вопросы от наших клиентов. Найдите ответы на свои вопросы."
  />
  <title slot="title">Часто задаваемые вопросы - Aurora Escort</title>

  <section class="mt-10 bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
      <h1
        class="mb-8 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        Часто задаваемые вопросы
      </h1>
      <div
        class="grid pt-8 text-left border-t border-gray-200 md:gap-16 dark:border-gray-700 md:grid-cols-2"
      >
        <div>
          <div class="mb-10">
            <h3
              class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
            >
              <svg
                class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  fill-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                  clip-rule="evenodd"></path></svg
              >
              Как я могу заказать эскорт услугу?
            </h3>
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              Для того чтобы заказать эскорт услугу, пожалуйста, свяжитесь с
              нами через мессенджер. Опишите ваши пожелания, включая
              предпочтения по модели, дате и времени встречи, а также любые
              дополнительные требования.
            </p>
          </div>
          <div class="mb-10">
            <h3
              class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
            >
              <svg
                class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  fill-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                  clip-rule="evenodd"></path></svg
              >
              Предусмотрена ли предоплата?
            </h3>
            <p class="text-gray-500 dark:text-gray-400">
              Да, для клиентов, которые обратились к нам впервые, мы работаем по
              предоплате. Это необходимо для гарантии бронирования и организации
              встречи.
            </p>
          </div>
          <div class="mb-10">
            <h3
              class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
            >
              <svg
                class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  fill-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                  clip-rule="evenodd"></path></svg
              >
              Где проходят встречи?
            </h3>
            <p class="text-gray-500 dark:text-gray-400">
              Для новых клиентов встречи возможны только в хороших дорогих
              отелях. Это условие позволяет обеспечить комфорт и безопасность
              для обеих сторон.
            </p>
          </div>
          <div class="mb-10">
            <h3
              class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
            >
              <svg
                class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  fill-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                  clip-rule="evenodd"></path></svg
              >
              Почему на сайте используются не настоящие фото моделей?
            </h3>
            <p class="text-gray-500 dark:text-gray-400">
              В целях конфиденциальности и защиты личной жизни наших моделей, на
              сайте представлены не настоящие фотографии. Мы гарантируем, что
              модели, которых вы выберете, соответствуют описанию и вашим
              ожиданиям.
            </p>
          </div>
        </div>
        <div>
          <div class="mb-10">
            <h3
              class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
            >
              <svg
                class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  fill-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                  clip-rule="evenodd"></path></svg
              >
              Можно ли встретиться в другом месте, не в отеле?
            </h3>
            <p class="text-gray-500 dark:text-gray-400">
              Для клиентов, с которыми мы уже давно сотрудничаем, возможны
              исключения и встречи в других местах. Пожалуйста, свяжитесь с нами
              для обсуждения деталей.
            </p>
          </div>
          <div class="mb-10">
            <h3
              class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
            >
              <svg
                class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  fill-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                  clip-rule="evenodd"></path></svg
              >
              Как я могу быть уверен в конфиденциальности?
            </h3>
            <p class="text-gray-500 dark:text-gray-400">
              Мы очень серьезно относимся к конфиденциальности наших клиентов.
              Вся информация, которую вы предоставляете, остается строго
              конфиденциальной и не подлежит разглашению.
            </p>
          </div>
          <div class="mb-10">
            <h3
              class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
            >
              <svg
                class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  fill-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                  clip-rule="evenodd"></path></svg
              >
              Какие способы оплаты вы принимаете?
            </h3>
            <p class="text-gray-500 dark:text-gray-400">
              Мы принимаем различные способы оплаты, включая банковские
              переводы, криптовалюты и другие безопасные методы. Подробности
              оплаты будут предоставлены при подтверждении заказа.
            </p>
          </div>
          <div class="mb-10">
            <h3
              class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
            >
              <svg
                class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  fill-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                  clip-rule="evenodd"></path></svg
              >
              Можно ли отменить заказ?
            </h3>
            <p class="text-gray-500 dark:text-gray-400">
              Да, вы можете отменить заказ, но условия возврата предоплаты
              зависят от времени отмены и других факторов. Пожалуйста, свяжитесь
              с нами для уточнения деталей.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
