---
import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle.astro";
---

<Layout>
  <meta
    slot="description"
    name="description"
    content="Отзывы про эскорт-агентство Aurora Escort в Москве. Реальные отзывы клиентов. Оставьте свой отзыв о нас."
  />
  <title slot="title">Отзывы - Aurora Escort</title>

  <PageTitle>Часто задаваемые вопросы</PageTitle>
</Layout>
