---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <meta
    slot="description"
    name="description"
    content="Отзывы про эскорт-агентство Moscow Escort в Москве. Реальные отзывы клиентов. Оставьте свой отзыв о нас."
  />
  <title slot="title">Отзывы - Moscow Escort</title>
  <div class="donate-explainer">
    <div class="container">
      <h1 class="donate-heading-1">Отзывы</h1>
      <div class="donate-heading-2">every dollar counts</div>
      <p class="donate-paragraph">
        Acme Outdoors is more than just a company, we're a community of people
        who care for one another and for our city. During this time, due to
        shelter in place orders, only a select few of our staff are able to
        work. Any donations you make to Acme will help make sure our employees
        are cared for and can stay safe in these uncertain times.
      </p>
    </div>
  </div>
  <div class="content-section">
    <div class="container">
      <div class="donate-wrapper">
        <div class="donate-collection w-dyn-list">
          <div role="list" class="w-dyn-items">
            <div role="listitem" class="w-dyn-item">
              <a
                href="/product/donate-100"
                class="donate-link-block w-inline-block"
              >
                <div class="text-block">Donate $100</div>
              </a>
            </div>
            <div role="listitem" class="w-dyn-item">
              <a
                href="/product/donate-50"
                class="donate-link-block w-inline-block"
              >
                <div class="text-block">Donate $50</div>
              </a>
            </div>
            <div role="listitem" class="w-dyn-item">
              <a
                href="/product/donate-25"
                class="donate-link-block w-inline-block"
              >
                <div class="text-block">Donate $25</div>
              </a>
            </div>
            <div role="listitem" class="w-dyn-item">
              <a
                href="/product/donate-15"
                class="donate-link-block w-inline-block"
              >
                <div class="text-block">Donate $15</div>
              </a>
            </div>
            <div role="listitem" class="w-dyn-item">
              <a
                href="/product/donate-5"
                class="donate-link-block w-inline-block"
              >
                <div class="text-block">Donate $5</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
<style>
  .w-block {
    display: block;
  }
  .w-inline-block {
    max-width: 100%;
    display: inline-block;
  }

  .container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  .content-section {
    padding-top: 65px;
    padding-bottom: 65px;
  }
  .heading {
    margin-top: 55px;
  }
  .donate-explainer {
    min-height: 550px;
    padding-top: 151px;
    padding-bottom: 35px;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(34, 34, 34, 0.56)),
        to(#222)
      ),
      url(/images/ville-unsplash.jpg);
    background-image: linear-gradient(180deg, rgba(34, 34, 34, 0.56), #222),
      url(/images/ville-unsplash.jpg);
    background-position:
      0 0,
      50% 25%;
    background-size: auto, cover;
    color: #f9f9f9;
  }
  .donate-heading-1 {
    margin-bottom: -5px;
    font-size: 38px;
    font-weight: 800;
    text-align: center;
  }
  .donate-heading-2 {
    margin-bottom: 15px;
    font-size: 30px;
    text-align: center;
  }
  .donate-paragraph {
    width: 65%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .donate-wrapper {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 30px 10px;
    border: 2px solid #222;
    border-radius: 5px;
  }
  .donate-link-block {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #eb5757;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    color: #f9f9f9;
    text-align: center;
    text-decoration: none;
  }
  .donate-link-block:hover {
    background-color: #222;
  }
  .text-block {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    color: #f9f9f9;
    font-size: 24px;
    font-weight: 800;
  }

  @media screen and (max-width: 991px) {
    .container {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  @media screen and (max-width: 767px) {
    .donate-wrapper {
      width: 90%;
    }
  }
  @media screen and (max-width: 479px) {
    .donate-heading-1 {
      font-size: 30px;
      line-height: 1.3;
    }
    .donate-heading-2 {
      font-size: 24px;
    }
    .donate-paragraph {
      width: 80%;
      font-size: 13px;
    }
    .donate-wrapper {
      width: 100%;
    }
  }
</style>
