---
import Layout from "../layouts/Layout.astro";
import ServiceCard from "../components/ServiceCard.astro";
import romanticImage from "../assets/img/romantic-meet.jpg";

const servicesData = [
  {
    text: "Элитные эскортницы",
    path: "",
  },
  {
    text: "Эскорт встречи в Москве",
    path: "",
  },
  {
    text: "Девушки для корпоратива в Москве",
    path: "",
  },
  {
    text: "Девушки для мероприятий в Москве",
    path: "",
  },
  {
    text: "Эскорт сопровождение в Москве",
    path: "",
  },
  {
    text: "Девушки на выставку в Москве",
    path: "",
  },
  {
    text: "Девушки для вечеринки в Москве",
    path: "",
  },
  {
    text: "Девушки-хостес на мероприятие в Москве",
    path: "",
  },
  {
    text: "Девушки модели для съемок в Москве",
    path: "",
  },
  {
    text: "Эскорт трансфер в Москве",
    path: "",
  },
  {
    text: "Ужин с эскортницей в Москве",
    path: "",
  },
  {
    text: "Девушки для мальчишника в Москве",
    path: "",
  },
  {
    text: "Эскорт без интима в Москве",
    path: "",
  },
  {
    text: "Эскорт поездки в Москве",
    path: "",
  },
  {
    text: "Эскорт для пар в Москве",
    path: "",
  },
];
---

<Layout>
  <h1 class="title">Услуги</h1>
  {
    servicesData.map((service, index) => (
      <ServiceCard text={service.text} path={service.path} order={index + 1} />
    ))
  }
</Layout>

<style>
  .title {
    margin-left: 10px;
    margin-bottom: 17px;
  }
</style>
