---
import Layout from "../layouts/Layout.astro";
import ModelCard from "../components/ModelCard.astro";
import { skinnyModels } from "./models/data/skinny";
---

<Layout>
  <meta
    slot="description"
    name="description"
    content="Заказывайте худеньких эскортниц от агентства Aurora Escort в Москве. Полная анонимность! Эскортницы VIP класса, привлекательные девушки."
  />
  <title slot="title">Худенькие эскортницы в Москве | Aurora Escort</title>

  <div class="bg-white">
    <div
      class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8"
    >
      <h1 class="text-stone-600">Худенькие эскортницы в Москве</h1>
      <div class="flex items-center justify-center py-4 flex-wrap mt-10">
        <a
          href="/brunnetes"
          type="button"
          class="text-gray-900 border border-gray-200 bg-white ring-4 ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 focus:ring-gray-500 hover:ring-red-300 hover:border-red-300"
          >Брюнетки</a
        >
        <a
          href="/blonds"
          type="button"
          class="text-gray-900 border border-gray-200 bg-white ring-4 ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 focus:ring-gray-500 hover:ring-red-300 hover:border-red-300"
          >Блондинки</a
        >
        <a
          href="/redhead"
          type="button"
          class="text-gray-900 border border-gray-200 bg-white ring-4 ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 focus:ring-gray-500 hover:ring-red-300 hover:border-red-300"
          >Рыжие</a
        >
        <a
          href="/feet"
          type="button"
          class="text-gray-900 border border-gray-200 bg-white ring-4 ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 focus:ring-gray-500 hover:ring-red-300 hover:border-red-300"
          >Длинные ноги</a
        >
        <a
          href="/youth"
          type="button"
          class="text-gray-900 border border-gray-200 bg-white ring-4 ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 focus:ring-gray-500 hover:ring-red-300 hover:border-red-300"
          >Молоденькие</a
        >

        <a
          href="/asian"
          type="button"
          class="text-gray-900 border border-gray-200 bg-white ring-4 ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 focus:ring-gray-500 hover:ring-red-300 hover:border-red-300"
          >Азиатки</a
        >
        <a
          href="/mulattos"
          type="button"
          class="text-gray-900 border border-gray-200 bg-white ring-4 ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 focus:ring-gray-500 hover:ring-red-300 hover:border-red-300"
          >Мулатки</a
        >
      </div>

      <div
        class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8"
      >
        {
          skinnyModels.map(
            ({ props: { name, price, images }, params: { id } }) => (
              <ModelCard id={id} name={name} price={price} img={images[0]} />
            )
          )
        }
      </div>
    </div>
  </div>

  <div
    class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0"
  >
    <div class="absolute inset-0 -z-10 overflow-hidden">
      <svg
        class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]"
        aria-hidden="true"
      >
        <defs>
          <pattern
            id="e813992c-7d03-4cc4-a2bd-151760b470a0"
            width="200"
            height="200"
            x="50%"
            y="-1"
            patternUnits="userSpaceOnUse"
          >
            <path d="M100 200V.5M.5 .5H200" fill="none"></path>
          </pattern>
        </defs>
        <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
          <path
            d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z"
            stroke-width="0"></path>
        </svg>
        <rect
          width="100%"
          height="100%"
          stroke-width="0"
          fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)"></rect>
      </svg>
    </div>
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10"
    >
      <div
        class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8"
      >
        <div class="lg:pr-4">
          <div class="lg:max-w-lg">
            <p class="text-base font-semibold leading-7 text-red-400">
              Aurora Escort
            </p>
            <h2
              class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
            >
              Худенькие эскортницы для каждого мужчины
            </h2>
            <p class="mt-6 text-xl leading-8 text-gray-700">
              Тема внешнего вида спутниц часто обсуждается и худые эскортницы не
              исключение. Однако за этими обсуждениями часто стоят мифы и
              предрассудки. Давайте взглянем на реальность жизни и работе тощих
              спутниц, и как они индивидуально вносят свой вклад в эту сферу.
            </p>
          </div>
        </div>
      </div>
      <div
        class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden"
      >
        <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">
          Мифы и Реальность.
        </h2>
        <p class="mt-6 text-gray-700">
          Азиатские модели обладают уникальной внешностью, которая привлекает
          внимание и вызывает желание познакомиться поближе. Их утонченные черты
          лица, гладкая кожа и стройные фигуры создают неповторимый образ,
          который манит и завораживает. Эти модели могут легко адаптироваться к
          различным стилям одежды и макияжа, подчеркивая свою индивидуальность и
          удовлетворяя самые изысканные вкусы клиентов.
        </p>
        <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">
          Индивидуальность и уникальность.
        </h2>
        <p class="mt-6 text-gray-700">
          Каждая модель уникальна и имеет свои собственные особенности. Стройные
          девушки могут предлагать заказчикам не только свой наружный облик, но
          и свой стиль, интеллект и эмоциональную глубину.
        </p>

        <a
          href="https://api.whatsapp.com/send?phone=447480686013"
          target="_blank"
          class="custom-link flex items-center justify-center py-2.5 px-5 text-sm font-bold text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 mt-4"
        >
          <svg
            class="w-5 h-5 -ms-2 me-2 text-red-500"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"
            ></path>
          </svg>
          Организовать свидание
        </a>
      </div>
      <div
        class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8"
      >
        <div class="lg:pr-4">
          <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
            <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">
              Профессионализм и эмпатия.
            </h2>
            <p class="mt-6">
              Худенькая эскортница профессионал в своей работе. Она может быть
              внимательным слушателем, умелым разговорчивым партнером и
              воплощением желаний своих потребителей, обеспечивая им
              незабываемый опыт вне зависимости от ее облика.
            </p>
            <p class="mt-6">
              Худенький компаньон — это не только лица, отвечающие определенным
              критериям красоты, но и индивидуальности с уникальными чертами
              характера и навыками. Их профессионализм, эмпатия и умение
              поддерживать клиента, делают их востребованными и ценными
              участниками в этой сфере. При необходимости найти такую
              представительницу слабого пола человечества, за подобными услугами
              стоит обратиться в наше элитное агентство эскорт услуг.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
