---
import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle.astro";
---

<Layout>
  <meta
    slot="description"
    name="description"
    content="Условия сайта AuroraEscort.com. Внимательно ознакомьтесь с нашими условиями."
  />
  <title slot="title">Условия - Aurora Escort</title>

  <div class="container">
    <h1 class="pt-20">Условия</h1>

    <h2>1. Общие положения</h2>
    <p>
      1.1. Настоящие Условия регулируют порядок использования Сайта и услуг,
      предоставляемых "Aurora Escort" (далее - "Агентство").
    </p>
    <p>
      1.2. Агентство оставляет за собой право вносить изменения в настоящие
      Условия в любое время. Изменения вступают в силу с момента их публикации
      на Сайте. Рекомендуется периодически проверять актуальность Условий.
    </p>

    <h2>2. Регистрация и учетная запись</h2>
    <p>
      2.1. Для доступа к определенным функциям Сайта вам может потребоваться
      создать учетную запись. Вы обязаны предоставлять точную и актуальную
      информацию при регистрации.
    </p>
    <p>
      2.2. Вы несете ответственность за конфиденциальность своих учетных данных
      и обязуетесь незамедлительно уведомлять Агентство о любом
      несанкционированном использовании вашей учетной записи.
    </p>

    <h2>3. Использование Сайта</h2>
    <p>
      3.1. Вы соглашаетесь использовать Сайт исключительно в законных целях и в
      соответствии с настоящими Условиями.
    </p>
    <p>3.2. Запрещается использовать Сайт для:</p>
    <ul>
      <li>
        Нарушения прав интеллектуальной собственности или других прав третьих
        лиц.
      </li>
      <li>
        Распространения вредоносного ПО, вирусов или других вредных компонентов.
      </li>
    </ul>

    <h2>4. Услуги</h2>
    <p>
      4.1. Агентство предоставляет услуги по организации времяпрепровождения в
      соответствии с условиями публичной оферты, опубликованной на Сайте.
    </p>
    <p>
      4.2. Все услуги предоставляются исключительно совершеннолетним лицам
      (18+).
    </p>
    <p>4.3. Агентство не предоставляет услуги интимного характера.</p>

    <h2>5. Конфиденциальность</h2>
    <p>
      5.1. Вся информация о том, как Агентство собирает, использует и защищает
      ваши персональные данные, изложена в Политике конфиденциальности.
    </p>
    <p>
      5.2. Используя Сайт, вы соглашаетесь с Политикой конфиденциальности
      Агентства.
    </p>

    <h2>6. Ограничение ответственности</h2>
    <p>
      6.1. Агентство не несет ответственности за любой ущерб, причиненный в
      результате использования или невозможности использования Сайта.
    </p>
    <p>
      6.2. Агентство не гарантирует бесперебойную и безошибочную работу Сайта.
    </p>

    <h2>7. Ссылки на сторонние ресурсы</h2>
    <p>
      7.1. Сайт может содержать ссылки на сайты третьих лиц. Агентство не несет
      ответственности за содержание таких сайтов и их политику
      конфиденциальности.
    </p>
    <p>
      7.2. Переходя по ссылкам на сторонние ресурсы, вы делаете это на свой
      страх и риск.
    </p>

    <h2>8. Прекращение доступа</h2>
    <p>
      8.1. Агентство оставляет за собой право прекратить или приостановить ваш
      доступ к Сайту в любое время, без предварительного уведомления, за
      нарушение настоящих Условий или по другим причинам.
    </p>
    <p>
      8.2. Вы можете прекратить использование Сайта в любое время, удалив свою
      учетную запись.
    </p>

    Если у вас возникли вопросы по поводу настоящих Условий, пожалуйста,
    свяжитесь с нами.
    <p>
      Используя наш Сайт, вы подтверждаете, что ознакомились и согласны с
      настоящими Условиями использования.
    </p>
  </div>
</Layout>

<style>
  .container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h1,
  h2,
  h3 {
    color: #333;
  }
  h1 {
    text-align: center;
  }
  p {
    margin: 10px 0;
  }
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
</style>
