---
import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle.astro";
---

<Layout>
  <meta
    slot="description"
    name="description"
    content="Условия сайта AuroraEscort.com. Внимательно ознакомьтесь с нашими условиями."
  />
  <title slot="title">Условия - Aurora Escort</title>
  <PageTitle>Условия</PageTitle>
</Layout>
