---
import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle.astro";
---

<Layout>
  <meta
    slot="description"
    name="description"
    content="Желаете работать в эскорте? Агентство Aurora Escort предоставляет лучшие условия для работы эскортницей в Москве. Обращайтесь!"
  />
  <title slot="title">Отзывы - Aurora Escort</title>

  <PageTitle>Вакансии в эскорте</PageTitle>
</Layout>
