---
import Layout from "../layouts/Layout.astro";
import ModelCard from "../components/ModelCard.astro";
import { youthModels } from "./models/data/youth";
---

<Layout>
  <div class="bg-white">
    <div
      class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8"
    >
      <div
        class="flex items-center justify-center py-4 md:py-8 flex-wrap mt-16"
      >
        <a
          href="/brunnetes"
          type="button"
          class="text-gray-900 border border-gray-200 bg-white ring-4 ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 focus:ring-gray-500"
          >Брюнетки</a
        >
        <a
          href="/blonds"
          type="button"
          class="text-gray-900 border border-gray-200 bg-white ring-4 ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 focus:ring-gray-500"
          >Блондинки</a
        >
        <a
          href="/feet"
          type="button"
          class="text-gray-900 border border-gray-200 bg-white ring-4 ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 focus:ring-gray-500"
          >Длинные ноги</a
        >
        <a
          href="/redhead"
          type="button"
          class="text-gray-900 border border-gray-200 bg-white ring-4 ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 focus:ring-gray-500"
          >Рыжие</a
        >

        <a
          href="/skinny"
          type="button"
          class="text-gray-900 border border-gray-200 bg-white ring-4 ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 focus:ring-gray-500"
          >Худые</a
        >
        <a
          href="/asian"
          type="button"
          class="text-gray-900 border border-gray-200 bg-white ring-4 ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 focus:ring-gray-500"
          >Азиатки</a
        >
        <a
          href="/mulattos"
          type="button"
          class="text-gray-900 border border-gray-200 bg-white ring-4 ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 focus:ring-gray-500"
          >Мулатки</a
        >
      </div>
      <h1 class="sr-only">Модели</h1>

      <div
        class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8"
      >
        {
          youthModels.map(
            ({ props: { name, price, images }, params: { id } }) => (
              <ModelCard id={id} name={name} price={price} img={images[0]} />
            )
          )
        }
      </div>
    </div>
  </div>
</Layout>
