---
import Image from "astro/components/Image.astro";
import telegramImg from "../assets/img/telegram.svg";
import whatsAppImg from "../assets/img/whatsapp.svg";
import viberImg from "../assets/img/viber.svg";
---

<div>
  <button class="open-button">
    <slot />
  </button>

  <div class="overlay">
    <button class="button-close">
      <img
        class="image"
        src="/images/close.svg"
        alt="закрыт меню с контактами"
      />
    </button>

    <div class="messangers">
      <h2>Написать нам</h2>
      <button class="button-text">
        <Image src={telegramImg} alt="Написать в telegram" />
        Telegram
      </button>
      <button class="button-text">
        <Image src={whatsAppImg} alt="Написать в whatsapp" />
        Whatsapp
      </button>
      <button class="button-text">
        <Image src={viberImg} alt="Написать в viber" />
        Viber
      </button>
    </div>
  </div>
</div>

<style>
  .nav-menu {
    width: 100vw;
    height: 100vh;
    padding-top: 140px;
    padding-bottom: 30px;
    background-color: #ce4c4c;
  }

  [data-nav-menu-open] {
    display: block !important;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #c8c8c8;
    text-align: center;
    overflow: visible;
    min-width: 200px;
  }

  .overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ce4c4c;
    z-index: 9999;
  }

  .overlay.active {
    display: block;
  }

  .button-close {
    position: absolute;
    padding: 18px;
    right: 0;
  }
  .image {
    width: 55px;
  }

  .button-text {
    color: whitesmoke;
    font-size: 25px;
  }

  .messangers {
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: center;
    margin-top: 30vh;
  }

  h2 {
    color: whitesmoke;
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const openButton = document.querySelector(".open-button");
    const closeButton = document.querySelector(".button-close");
    const overlay = document.querySelector(".overlay");
    const body = document.querySelector("body");

    openButton?.addEventListener("click", () => {
      overlay?.classList.add("active");
      body.style.overflow = "hidden";
    });

    closeButton?.addEventListener("click", () => {
      overlay?.classList.remove("active");
      body.style.overflow = "";
    });
  });
</script>
