<div class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-logo-column">
        <a href="/" aria-current="page" class="w-inline-block w--current"
          ><img
            src="/images/5e7ff57adad44d1f072965b6_logo.svg"
            alt="Acme Outdoors Logo"
          /></a
        >
      </div>
      <div>
        <a
          href="https://twitter.com/webflow"
          target="_blank"
          class="social-footer-link w-inline-block"
          ><img
            src="/images/5e8407a25b6234aeec960fb9_Twitter_Social_Icon_Rounded_Square_White.svg"
            width="30"
            alt="Twitter Logo"
          /></a
        ><a
          href="https://www.facebook.com/webflow"
          class="social-footer-link w-inline-block"
          ><img
            src="/images/5e8407aa3fb6cf5576f1658b_Facebook%20Logo.svg"
            width="30"
            alt="Facebook Logo"
          /></a
        ><a
          href="https://www.instagram.com/webflow/"
          target="_blank"
          class="social-footer-link w-inline-block"
          ><img
            src="/images/5e840774014326b74bbeeeb6_Insta.svg"
            width="30"
            alt="Instagram Logo"
          /></a
        >
      </div>
    </div>
    <div class="footer-bottom-wrapper">
      <div class="small footer-small">
        Made with <a href="https://webflow.com" target="_blank">Love</a>. ©
        2020.
      </div>
    </div>
  </div>
</div>

<style>
  [class*=" w-icon-"],
  [class^="w-icon-"] {
    font-family: webflow-icons !important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .small {
    margin-bottom: 10px;
    font-size: 10px;
  }
  .small.footer-small {
    font-size: 12px;
  }
  .container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  .footer {
    padding-top: 65px;
    padding-bottom: 10px;
    background-color: #222;
  }
  .footer-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .social-footer-link {
    margin-left: 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .social-footer-link:hover {
    opacity: 0.7;
  }
  .footer-bottom-wrapper {
    margin-top: 55px;
    color: #f9f9f9;
    text-align: center;
  }
  @media screen and (max-width: 991px) {
    .container {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  @media screen and (max-width: 479px) {
    .footer-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .footer-logo-column {
      margin-bottom: 30px;
    }
    .social-footer-link {
      margin-right: 25px;
      margin-left: 25px;
    }
  }
</style>
