<div class="page-title-section">
  <div class="container">
    <h1 class="page-title">
      <slot />
    </h1>
  </div>
</div>

<style>
  h1 {
    font-size: 30px;
  }
  .page-title-section {
    padding-top: 8px;
    padding-bottom: 18px;
    background-color: #222;
    color: #f9f9f9;
  }
  .container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  @media screen and (max-width: 991px) {
    .container {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  .page-title {
    margin-top: 10px;
  }
</style>
