---
import Image from "astro/components/Image.astro";
import ArrowImg from "../assets/img/arrow.svg";

const { text, order, id } = Astro.props;
---

<div class="support-column">
  <a href=`/services/${id}`>
    <div class="support-square">
      <div class="support-square-number">{order}</div>
      <div class="container">
        <div class="support-square-text">{text}</div>
        <Image
          width={60}
          src={ArrowImg}
          alt="нажмите чтобы перейти в раздел конкретной услуги"
        />
      </div>
      {
        order % 2 === 0 ? (
          <img
            src="/images/5e7ff57adc54453434efb9ee_Triangle.svg"
            alt="Triangle Decoration in Donate Block"
            class="support-square-image triangle"
          />
        ) : (
          <img
            src="/images/5e7ff57a5836db2a07bab0e3_Circle.svg"
            alt="Circle Decoration in Shop Products Block"
            class="support-square-image"
          />
        )
      }
    </div>
  </a>
  <p>
    Our full product line is still available online here on our site! Getting
    outside and hiking is still something you can do. Get your gear now!
  </p>
</div>

<style>
  .support-column {
    min-height: 200px;
  }
  .support-square {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    min-height: 350px;
    margin-bottom: 45px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
    background-color: #222;
  }
  .support-square-number {
    position: absolute;
    left: 10%;
    top: 10%;
    right: auto;
    bottom: auto;
    color: #f9f9f9;
    font-size: 40px;
    font-weight: 700;
  }
  .support-square-text {
    color: #f9f9f9;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
  .support-square-image {
    position: absolute;
    left: auto;
    top: auto;
    right: -25%;
    bottom: -25%;
  }
  .support-square-image.triangle {
    right: -11%;
    bottom: -17%;
  }
  .support-square-image.rectangle {
    right: -14%;
    bottom: -31%;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
    margin-top: 115px;
  }

  a {
    text-decoration: none;
  }
</style>
