<div id="dialParent" data-dial-init class="fixed end-6 bottom-6 group">
  <div
    id="speed-dial-menu-text-outside-button"
    class="flex flex-col items-center hidden mb-4 space-y-2"
  >
    <a
      href="https://t.me/aurora_escort"
      target="_blank"
      class="relative w-[52px] h-[52px] text-gray-500 bg-gray-100 rounded-lg border border-gray-200 dark:border-gray-600 hover:text-gray-900 shadow-sm dark:hover:text-white dark:text-gray-400 dark:bg-gray-700 dark:hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-400"
    >
      <svg
        class="w-12 h-12 mx-auto"
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        viewBox="0 0 100 100"
      >
        <circle cx="52" cy="52" r="44" opacity=".35"></circle><circle
          cx="50"
          cy="50"
          r="44"
          fill="#f2f2f2"></circle><path
          fill="#70bfff"
          d="M87.5,50c0,20.709-16.791,37.5-37.5,37.5S12.5,70.709,12.5,50S29.291,12.5,50,12.5 S87.5,29.291,87.5,50z"
        ></path><path
          fill="#40396e"
          d="M50,89c-21.505,0-39-17.495-39-39s17.495-39,39-39s39,17.495,39,39S71.505,89,50,89z M50,14 c-19.851,0-36,16.149-36,36s16.149,36,36,36s36-16.149,36-36S69.851,14,50,14z"
        ></path><g
          ><path
            fill="#f2f2f2"
            d="M26.662,49.469c13.106-5.766,30.066-12.795,32.408-13.768c6.141-2.546,8.025-2.059,7.086,3.581 c-0.675,4.054-2.621,17.473-4.174,25.826c-0.921,4.954-2.987,5.541-6.234,3.397c-1.562-1.031-9.446-6.246-11.158-7.47 c-1.562-1.116-3.716-2.458-1.014-5.102c0.962-0.941,7.264-6.96,12.174-11.644c0.643-0.615-0.165-1.626-0.907-1.133 c-6.619,4.389-15.795,10.481-16.963,11.274c-1.764,1.198-3.459,1.748-6.501,0.874c-2.299-0.66-4.543-1.447-5.417-1.748 C22.595,52.404,23.394,50.907,26.662,49.469z"
          ></path></g
        >
      </svg>
    </a>
    <a
      href="https://api.whatsapp.com/send?phone=447480686013"
      target="_blank"
      class="relative w-[52px] h-[52px] text-gray-500 bg-gray-100 rounded-lg border border-gray-200 dark:border-gray-600 hover:text-gray-900 shadow-sm dark:hover:text-white dark:text-gray-400 dark:bg-gray-700 dark:hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-400"
    >
      <svg
        class="w-12 h-12 mx-auto"
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        viewBox="0 0 80 80"
      >
        <path
          fill="#f2faff"
          d="M7.904,58.665L7.8,58.484c-3.263-5.649-4.986-12.102-4.983-18.66 C2.826,19.244,19.577,2.5,40.157,2.5C50.14,2.503,59.521,6.391,66.57,13.446C73.618,20.5,77.5,29.879,77.5,39.855 c-0.01,20.583-16.76,37.328-37.34,37.328c-6.247-0.003-12.418-1.574-17.861-4.543l-0.174-0.096L2.711,77.636L7.904,58.665z"
        ></path><path
          fill="#788b9c"
          d="M40.157,3L40.157,3c9.85,0.003,19.105,3.838,26.059,10.799C73.17,20.76,77,30.013,77,39.855 c-0.009,20.307-16.536,36.828-36.855,36.828c-6.149-0.003-12.237-1.553-17.606-4.482l-0.349-0.19l-0.384,0.101l-18.384,4.82 l4.91-17.933l0.11-0.403l-0.209-0.362c-3.22-5.574-4.92-11.94-4.917-18.41C3.326,19.52,19.852,3,40.157,3 M40.157,2 C19.302,2,2.326,18.969,2.317,39.824C2.313,46.49,4.055,53,7.367,58.735L2,78.339l20.06-5.26 c5.526,3.015,11.751,4.601,18.084,4.604h0.016c20.855,0,37.831-16.969,37.84-37.827c0-10.108-3.933-19.613-11.077-26.764 C59.78,5.942,50.28,2.003,40.157,2L40.157,2z"
        ></path><path
          fill="#79ba7e"
          d="M39.99,70c-5.009-0.003-9.965-1.263-14.332-3.646l-2.867-1.564l-3.159,0.828l-6.482,1.699	l1.659-6.061l0.907-3.312l-1.718-2.974C11.38,50.437,9.997,45.255,10,39.986C10.007,23.453,23.464,10.002,39.997,10	c8.022,0.003,15.558,3.126,21.221,8.793C66.881,24.461,70,31.998,70,40.011C69.992,56.547,56.535,70,39.99,70z"
        ></path><path
          fill="#fff"
          d="M56.561,47.376c-0.9-0.449-5.321-2.626-6.143-2.924c-0.825-0.301-1.424-0.449-2.023,0.449	c-0.599,0.9-2.322,2.924-2.845,3.523c-0.524,0.599-1.048,0.674-1.948,0.226c-0.9-0.449-3.797-1.4-7.23-4.462	c-2.674-2.382-4.478-5.327-5.001-6.227c-0.524-0.9-0.057-1.385,0.394-1.834c0.403-0.403,0.9-1.051,1.349-1.575	c0.449-0.524,0.599-0.9,0.9-1.5c0.301-0.599,0.151-1.126-0.075-1.575c-0.226-0.449-2.023-4.875-2.773-6.673	c-0.729-1.752-1.472-1.515-2.023-1.542c-0.524-0.027-1.123-0.03-1.722-0.03c-0.599,0-1.575,0.226-2.397,1.126	c-0.822,0.9-3.147,3.074-3.147,7.498s3.222,8.699,3.671,9.298c0.449,0.599,6.338,9.678,15.36,13.571	c2.144,0.924,3.821,1.478,5.125,1.894c2.153,0.684,4.113,0.587,5.664,0.355c1.728-0.259,5.321-2.174,6.067-4.273	c0.75-2.099,0.75-3.899,0.524-4.273C58.06,48.051,57.461,47.825,56.561,47.376z"
        ></path>
      </svg>
    </a>
    <a
      href="mailto:mail@auroraescort@gmail.com"
      class="relative w-[52px] h-[52px] text-gray-500 bg-gray-100 rounded-lg border border-gray-200 dark:border-gray-600 hover:text-gray-900 shadow-sm dark:hover:text-white dark:text-gray-400 dark:bg-gray-700 dark:hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-400"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        class="w-12 h-12 mx-auto"
        viewBox="0 0 100 100"
      >
        <path
          d="M26.5,93C17.953,93,11,86.047,11,77.5v-51C11,17.953,17.953,11,26.5,11h51C86.047,11,93,17.953,93,26.5v51 C93,86.047,86.047,93,77.5,93H26.5z"
          opacity=".35"></path><path
          fill="#f2f2f2"
          d="M24.5,91C15.953,91,9,84.047,9,75.5v-51C9,15.953,15.953,9,24.5,9h51C84.047,9,91,15.953,91,24.5v51 C91,84.047,84.047,91,75.5,91H24.5z"
        ></path><path
          fill="#2785bd"
          d="M75.5,15.5h-51c-4.971,0-9,4.029-9,9v51c0,4.971,4.029,9,9,9h51c4.971,0,9-4.029,9-9v-51 C84.5,19.529,80.471,15.5,75.5,15.5z"
        ></path><path
          fill="#40396e"
          d="M75.5,86h-51C18.71,86,14,81.29,14,75.5v-51C14,18.71,18.71,14,24.5,14h51 C81.29,14,86,18.71,86,24.5v51C86,81.29,81.29,86,75.5,86z M24.5,17c-4.136,0-7.5,3.364-7.5,7.5v51c0,4.136,3.364,7.5,7.5,7.5h51 c4.136,0,7.5-3.364,7.5-7.5v-51c0-4.136-3.364-7.5-7.5-7.5H24.5z"
        ></path><g
          ><path
            fill="#f2f2f2"
            d="M75.84,36.196L61.765,50l14.073,13.802C75.933,63.454,76,63.096,76,62.719V37.281 C76,36.904,75.933,36.546,75.84,36.196z M55.81,49.744l16.911-16.587C72.365,33.066,71.999,33,71.615,33H28.385 c-0.385,0-0.75,0.066-1.107,0.157L44.19,49.744C47.395,52.884,52.605,52.884,55.81,49.744z M50,56.42 c-3.113,0-6.21-1.149-8.624-3.402L27.279,66.843C27.635,66.934,28.001,67,28.385,67h43.229c0.385,0,0.75-0.066,1.107-0.157 L58.624,53.018C56.21,55.271,53.113,56.42,50,56.42z M24.16,36.196c-0.093,0.35-0.16,0.708-0.16,1.085v25.438 c0,0.377,0.067,0.736,0.16,1.085L38.235,50L24.16,36.196z"
          ></path></g
        >
      </svg>
    </a>
  </div>
  <button
    id="dialButton"
    type="button"
    data-dial-toggle="speed-dial-menu-text-outside-button"
    aria-controls="speed-dial-menu-text-outside-button"
    aria-expanded="false"
    class="bg-gradient-to-br from-red-600 to-indigo-600 flex items-center justify-center text-white bg-blue-700 rounded-lg w-14 h-14 hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-blue-800"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="w-8 h-8 transition-transform group-hover:rotate-45"
    >
      <path
        fill-rule="evenodd"
        d="M12 2.25c-2.429 0-4.817.178-7.152.521C2.87 3.061 1.5 4.795 1.5 6.741v6.018c0 1.946 1.37 3.68 3.348 3.97.877.129 1.761.234 2.652.316V21a.75.75 0 0 0 1.28.53l4.184-4.183a.39.39 0 0 1 .266-.112c2.006-.05 3.982-.22 5.922-.506 1.978-.29 3.348-2.023 3.348-3.97V6.741c0-1.947-1.37-3.68-3.348-3.97A49.145 49.145 0 0 0 12 2.25ZM8.25 8.625a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25Zm2.625 1.125a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Zm4.875-1.125a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25Z"
        clip-rule="evenodd"></path>
    </svg>

    <span class="sr-only">Open actions menu</span>
  </button>
</div>

<script>
  import { Dial } from "flowbite";

  const $parentEl = document.getElementById("dialParent");
  const $triggerEl = document.getElementById("dialButton");
  const $targetEl = document.getElementById(
    "speed-dial-menu-text-outside-button"
  );

  const dial = new Dial($parentEl, $triggerEl, $targetEl);

  $triggerEl?.addEventListener("click", () => {
    dial.toggle();
  });

  document.body.addEventListener("click", () => {});
</script>
