---
import { Image } from "astro:assets";
import img from "../../../assets/img/services/party.webp";
---

<div
  class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0"
>
  <div class="absolute inset-0 -z-10 overflow-hidden">
    <svg
      class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]"
      aria-hidden="true"
    >
      <defs>
        <pattern
          id="e813992c-7d03-4cc4-a2bd-151760b470a0"
          width="200"
          height="200"
          x="50%"
          y="-1"
          patternUnits="userSpaceOnUse"
        >
          <path d="M100 200V.5M.5 .5H200" fill="none"></path>
        </pattern>
      </defs>
      <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
        <path
          d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z"
          stroke-width="0"></path>
      </svg>
      <rect
        width="100%"
        height="100%"
        stroke-width="0"
        fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)"></rect>
    </svg>
  </div>
  <div
    class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10"
  >
    <div
      class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8"
    >
      <div class="lg:pr-4">
        <div class="lg:max-w-lg">
          <p class="font-semibold leading-7 text-indigo-600 text-3xl">
            Модели для вечеринок
          </p>

          <p class="mt-6 text-xl leading-8 text-gray-700">
            Москва — невероятная столица, которая никогда не спит. Здесь нет
            места для скуки или рутины. В этом мегаполисе каждый день приносит
            что-то новое, заставляя нас открывать для себя невероятные
            возможности и роскошь. Однако иногда важно найти способ замедлить
            темп и насладиться моментом. Именно для этого существует наш элитный
            эскортный сервис.
          </p>
          <p class="mt-6 text-xl leading-8 text-gray-700">
            Девушки на вечеринку бурлят энергией и вибрацией. Для того чтобы
            сделать вашу тусовку еще более запоминающейся, вам нужна именно
            такая компания. Ведь самые лучшие моменты бывают в два раза ярче,
            когда вы делите их с кем-то особенным.
          </p>
        </div>
      </div>
    </div>
    <div
      class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden"
    >
      <Image
        class="w-[48rem] max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]"
        src={img}
        alt="Девушки для вечеринки в Москве"
      />
    </div>
    <div
      class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8"
    >
      <div class="lg:pr-4">
        <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
          <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">
            Почему стоит выбирать именно наш эскорт сервис?
          </h2>
          <p>
            Девушки на вечеринку бурлят энергией и вибрацией. Для того чтобы
            сделать вашу тусовку еще более запоминающейся, вам нужна именно
            такая компания. Ведь самые лучшие моменты бывают в два раза ярче,
            когда вы делите их с кем-то особенным.
          </p>
          <ul role="list" class="mt-8 space-y-8 text-gray-600">
            <li class="items-baseline flex gap-x-3">
              <svg
                class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                ></path>
              </svg>
              <span>
                Девушки для вечеринки тщательно отбираются, исходя из внешних
                данных, элегантности и уровня образования. У нас вы найдете
                только лучших представительниц фэшн индустрии
              </span>
            </li>
            <li class="items-baseline flex gap-x-3">
              <svg
                class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                ></path>
              </svg>
              <span>
                Мы предлагаем индивидуальный подход к каждому заказу, чтобы
                удовлетворить даже самых требовательных клиентов
              </span>
            </li>
            <li class="items-baseline flex gap-x-3">
              <svg
                class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                ></path>
              </svg>
              <span>
                Вся информация о посетителях и моделях строго конфиденциальна и
                не подлежит разглашению
              </span>
            </li>
            <li class="items-baseline flex gap-x-3">
              <svg
                class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                ></path>
              </svg>
              <span>
                У нас есть девушки для вечеринок разного возраста и телосложения
              </span>
            </li>
            <li class="items-baseline flex gap-x-3">
              <svg
                class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                ></path>
              </svg>
              <span>
                Команда профессионалов всегда готова обеспечить вам высочайший
                уровень сервиса
              </span>
            </li>
          </ul>
          <p class="mt-8">
            Чтобы сделать заказ модели для вечеринок, просто свяжитесь с нами по
            телефону или отправьте заявку через наш сайт. Наш менеджер
            обязательно свяжется с вами для уточнения всех деталей будущей
            брони.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
