---
import { models } from "../../data";
import ModelsPage from "../../../../components/ModelsPage.astro";

export async function getStaticPaths({ paginate }) {
  return paginate(models, { pageSize: 6 });
}

const { page } = Astro.props;
---

<ModelsPage
  page={page}
  pageTitle="Эскортницы брюнетки в Москве"
  titleMetaTag="Брюнетки эскортницы в Москве | Aurora Escort"
  descriptionMetaTag="Заказывайте эскортниц брюнеток от агентства Aurora Escort в Москве. АПолная анонимность! Эскортницы VIP класса, привлекательные девушки."
>
  <div>
    <h2>Мужчины выбирают брюнеток</h2>
    <p>
      Принято в обществе считать брюнеток более умными и серьезными, нежели
      блондинок. Темноволосые девушки более страстные и темпераментные. В глазах
      мужчин они более сильные, уверенные и роковые женщины. Такой типаж у них
      ассоциируется с высокой целеустремленностью и самостоятельностью.
    </p>
    <p>Эскортницы брюнетки притягивают, словно магнит. Потому что они:</p>
    <ul>
      <li>радостный и оптимистичные</li>
      <li>дарят чувство важности и уникальности</li>
      <li>интересные личности</li>
      <li>уверенные и открытые</li>
      <li>полны внутренней энергии, которая так манит</li>
      <li>имеют прекрасное чувство юмора</li>
      <li>инициативные</li>
    </ul>

    <p>
      Эскортница хорошая компаньонка для посиделок и тусовок. С ней можно часами
      разговаривать, развлекаться или просто помолчать.
    </p>

    <hr />
    <h2>Девушка, вызывающая восхищение</h2>
    <p>
      Модели агентства следят за своей внешностью, поэтому они интересны
      противоположному полу. У них есть свои интересы и мнение, что уже повышает
      их рейтинг в глазах мужчин.
    </p>
    <p>
      Прекрасный пол хорошо разбирается в парнях. Знает, как себя вести в разных
      нестандартных ситуациях. С такой пассией никогда не будет стыдно в
      компании. Эскортница брюнетка привлекательная внешне, с красивой фигурой,
      следит за модой. Владеет хорошими манерами, умеет себя подать в обществе.
    </p>
    <p>
      Парень может пригласить девушку с собой на любую вечеринку. Она с радостью
      пойдет на дискотеку, в ресторан или домой. Модели психологически зрелые
      личности. Знают правила поведения в конфликтных ситуациях. Спокойные и
      уравновешенные собеседницы.
    </p>
  </div>
</ModelsPage>
