---
import Menu from "../components/Menu.astro";
import Footer from "../components/Footer.astro";
import "../normalize.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Aurora escort" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} /><title>
      Aurora Escort
    </title></head
  >

  <Menu />
  <body>
    <slot />
    <div class="chat-us">
      <img src="/images/chat-us.svg" alt="Открыть страницу с контактами" />
    </div>
  </body>
  <Footer />

  <style is:global>
    [class*=" w-icon-"],
    [class^="w-icon-"] {
      font-family: webflow-icons !important;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    html {
      height: 100%;
    }

    img {
      max-width: 100%;
      vertical-align: middle;
      display: inline-block;
    }
    .w-block {
      display: block;
    }
    .w-button {
      display: inline-block;
      padding: 9px 15px;
      background-color: #3898ec;
      color: #fff;
      border: 0;
      line-height: inherit;
      text-decoration: none;
      cursor: pointer;
      border-radius: 0;
    }
    html[data-w-dynpage] [data-w-cloak] {
      color: transparent !important;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 700;
      margin-bottom: 10px;
    }
    h1 {
      font-size: 38px;
      line-height: 44px;
      margin-top: 20px;
    }
    h2 {
      font-size: 32px;
      line-height: 36px;
      margin-top: 20px;
    }
    h3 {
      font-size: 24px;
      line-height: 30px;
      margin-top: 20px;
    }
    h4 {
      font-size: 18px;
      line-height: 24px;
      margin-top: 10px;
    }
    h5 {
      font-size: 14px;
      line-height: 20px;
      margin-top: 10px;
    }
    h6 {
      font-size: 12px;
      line-height: 18px;
      margin-top: 10px;
    }
    p {
      margin-top: 0;
      margin-bottom: 10px;
    }
    button {
      border: 0;
      cursor: pointer;
      -webkit-appearance: button;
    }

    @keyframes spin {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    body {
      font-family: "PT Sans Caption", sans-serif;
      color: #333;
      font-size: 16px;
      line-height: 1.5;
    }

    a {
      color: #eb5757;
      text-decoration: underline;
    }
    a:hover {
      text-decoration: none;
    }
    .btn {
      padding: 5px 25px;
      border-style: solid;
      border-width: 1px;
      border-color: #eb5757;
      border-radius: 5px;
      background-color: #eb5757;
      -webkit-transition:
        border-color 0.3s ease,
        background-color 0.3s ease;
      transition:
        border-color 0.3s ease,
        background-color 0.3s ease;
      font-weight: 700;
    }
    .btn:hover {
      border-color: #222;
      background-color: #222;
    }
    .btn.light {
      border-color: #f9f9f9;
      background-color: #f9f9f9;
      color: #222;
    }
    .btn.light:hover {
      border-color: #eb5757;
      background-color: #eb5757;
      color: #f9f9f9;
    }
    .btn.light.outline {
      color: #f9f9f9;
    }
    .btn.light.outline:hover {
      border-color: #f9f9f9;
      background-color: #f9f9f9;
      color: #222;
    }
    .btn.light.hero {
      margin-right: 10px;
    }
    .btn.outline {
      background-color: transparent;
      color: #eb5757;
    }
    .btn.outline:hover {
      border-color: #eb5757;
      background-color: #eb5757;
      color: #f9f9f9;
    }
    .btn.outline:focus {
      border-style: solid;
      border-width: 1px;
      border-color: #eb5757;
      box-shadow: 0 0 2px 0 #eb5757;
    }

    .chat-us {
      position: fixed;
      bottom: 0;
      right: 0;
    }
  </style>
</html>
