---
import Image from "astro/components/Image.astro";
import aboutImg from "../../assets/img/about-red.jpg";

const { img } = Astro.props;
---

<div class="embla__slide">
  <div class="embla__slide__number">
    <Image class="image" src={img} alt={""} />
  </div>
</div>

<style>
  .embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }
  .embla__slide__number {
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
  }

  .image {
    object-fit: cover;
    height: 100%;
    border-radius: 1rem;
  }
</style>
